<script biruni>
page.ctrl(function (scope, model, fi, t, bStorage, AppSession, bFrame) {
  var d = _.omit(model, 'references'), 
      q = model.references;

  // sections
  var storage_key = _.last(bFrame.pages).path + '/' + AppSession.si.user.user_id;
  var storage = bStorage.json(storage_key);

  function changeSection(active_section) {
    active_section = active_section || 'I';
    
    if (q.active_section == active_section) return;
    bStorage.json(storage_key, { active_section: active_section });
    q.active_section = active_section;
  }

  // object
  function setObject(row) {
    if (!row) return;
    d.object_id = row.division_id;
    d.object_name = row.name;
    d.norms = [];
  }

  // Import file from excel
  function importFile() {
    if (d.template) {
      page.confirm(t('do you want to import file?')(), function () {
        let data = {
          object_id: d.object_id,
          template: d.template
        };
        page.post(':import', data, 'excel').then(function(result) {
          d.norms = result.items;
          q.error_messages = result.errors;
        }, page.alert);
      });
    }
  }

  // setting imported file
  function removeItem(row) {
    d.norms = _.without(d.norms, row);
  }

  function clearnorms() {
    d.norms = [];
  }

  // settings
  function checkDuplicate() {
    let obj = {};
    return !_.any(_.filter(d.column_items, x => x.column_number), function(item, index) {
      if (obj[item.column_number]) {
        page.alert(t('more than one row cannot have one column number, row_index=$1 and row_index=$2')(obj[item.column_number], index + 1));
        return true;
      }

      obj[item.column_number] = index + 1;
    });
  }

  function saveSetting() {
    if (page.valid(scope.form)) {
      if (checkDuplicate()) {
        var data = {
          starting_row: d.starting_row,
          keys: q.column_keys,
          column_numbers: _.pluck(d.column_items, 'column_number')
        };
        fi.save_setting(data).then(page.reload, page.alert);
      }
    }
  }

  function template() {
    window.open(page.url('template', { object_id: d.object_id }));
  }

  // save imported data
  function importData() {
    if (page.valid(scope.form)) {
      page.confirm(t('save?')(), function() {
        let data = {
          object_id: d.object_id,
          items: d.norms
        };

        page.post(':import_data', data).then(function() {
          notify(t('import succeeded!')());
          page.dropzone('file').clear();
          q.error_messages = [];
          d.norms = [];
          d.template = '';
        }, page.alert);
      });
    }
  }

  d.column_items = _.mapRows(model.items, ['key', 'name', 'column_number', 'is_required']);

  q.column_keys = _.pluck(d.column_items, 'key');
  q.active_section = storage.active_section || 'I';
  q.tClear = t('clear?');

  q.round_model_types = _.mapRows(q.round_model_types, ['type', 'name']);

  scope.d = d;
  scope.q = q;
});
</script>
<div class="b-toolbar">
  <div class="btn-group">
    <button type="button" class="btn" ng-class="q.active_section == 'I' ? 'btn-success' : 'btn-default'" ng-click="changeSection('I')"><t>import section</t></button>
    <button type="button" class="btn" ng-class="q.active_section == 'S' ? 'btn-success' : 'btn-default'" ng-click="changeSection('S')"><t>setting section</t></button>
  </div>
  <button type="button" class="btn btn-primary" ng-click="importData()" ng-if="q.active_section == 'I' && d.norms.length" ng-show="d.object_id"><t>save</t></button>
  <button type="button" class="btn btn-primary" ng-click="importFile()" ng-if="q.active_section == 'I'" ng-show="d.object_id"><t>import</t></button>
  <button type="button" class="btn btn-primary" ng-click="template()" ng-show="d.object_id"><t>template</t></button>
  <button type="button" class="btn btn-primary" ng-click="saveSetting()" ng-if="fi.save_setting && q.active_section == 'S'"><t>save</t></button>
  <button type="button" class="btn btn-default" ng-click="page.close()">{{ page.close.title }}</button>
</div>
<div class="b-content"><form name="form">
  <div class="card card-custom">
    <div class="card-body">
      <div ng-show="q.active_section == 'I'">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label><t>object</t></label>
              <b-input
                name="objects"
                model="d.object_name | name"
                model-key="d.object_id | division_id"
                on-select="setObject(row)"
                on-delete="setObject({})">
                {{ row.name }}
              </b-input>
            </div>
            <div class="form-group">
              <label><t>file</t></label>
              <b-dropzone name="file" model="d.template" accept="'.xls, .xlsx'"></b-dropzone>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label><t>errors</t></label>
              <div class="mb-2">
                <b-pg-controller name="error_messages"/>
              </div>
            </div>
            <div class="form-group">
              <b-pg-grid name="error_messages" local-data="q.error_messages" search="row_id, error" sort="row_id" min-width="0">
                <b-pg-row>
                  <b-pg-col name="row_id" size=3/>
                  <b-pg-col name="error" size=21>
                    <div ng-repeat="item in row.items">
                      {{ item }}<br/><hr ng-if="!$last"/>
                    </div>
                  </b-pg-col>
                </b-pg-row>
              </b-pg-grid>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-14 mb-2">
            <label><t>data</t></label>
          </div>
          <div class="col-sm-10 mb-2">
            <b-pg-controller name="norms"/>
          </div>
        </div>
        <b-pg-grid name="norms" local-data="d.norms" iterator="item" search="object_name, area_name, driver_name" sort="-fact_date" current-limit="1000">
          <b-pg-header name="action">
            <div class="text-center">
              <button type="button" class="btn btn-outline-danger btn-icon" b-toggle data-title="{{ q.tClear() }}" on-click-yes="clearnorms()" ng-if="d.norms.length">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </b-pg-header>
          <b-pg-row>
            <b-pg-col name="rownum" size="1"/>
            <b-pg-col name="job" size="18">
              <b-input name="jobs"
                name="jobs"
                model="item.job_name | name"
                model-key="item.job_id | job_id"
                required-key>
                {{ row.name }}
              </b-input>
            </b-pg-col>
            <b-pg-col name="round_model_type" size="4">
              <ui-select ng-model="item.round_model_type">
                <ui-select-match>{{ $select.selected.name }}</ui-select-match>
                <ui-select-choices repeat="item.type as item in q.round_model_types | filter: $select.search">
                  {{ item.name }}
                </ui-select-choices>
              </ui-select>
            </b-pg-col>
            <b-pg-col name="action" size="1">
              <div class="text-center">
                <button type="button" class="btn btn-default btn-hover-text-danger btn-icon" ng-click="removeItem(row)"><i class="fa fa-trash"></i></button>
              </div>
            </b-pg-col>
          </b-pg-row>
        </b-pg-grid>
      </div>
      <div ng-if="q.active_section == 'S'">
        <div class="form-group row">
          <div class="col-sm-12">
            <div class="sg mb-4 mb-sm-0">
              <div class="sg-header">
                <div class="sg-row">
                  <div class="sg-sub-row">
                    <div class="sg-cell col-16"><t>column name</t></div>
                    <div class="sg-cell col-8"><t>column number</t></div>
                  </div>
                </div>
              </div>
              <div class="sg-content">
                <div class="sg-row" ng-repeat="item in d.column_items">
                  <div class="sg-sub-row">
                    <div class="sg-cell col-16">{{ item.name }}</div>
                    <div class="sg-cell col-8">
                      <input type="text" class="form-control" ng-model="item.column_number" b-number scale="0" ng-required="item.is_required == 'Y'"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label><t>starting row</t></label>
              <input type="text" class="form-control" ng-model="d.starting_row" b-number scale="0"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form></div>