<script biruni>
page.init(function (param, xparam) {
  var pq = page.query('table').param(param);

  if (xparam.where) pq.where(xparam.where);
  else if (param.where) pq.where(param.where);
});
page.ctrl(function(scope, fi, t) {
  var q = {};

  function setObject(row) {
    q.object_id = row.object_id;
    q.object_name = row.name;
    q.modified_on = row.modified_on;
    q.modified_by_name = row.modified_by_name;

    page.query('table').param({ object_id: q.object_id }).fetch();
  }

  function refreshTable() {
    q.checked = {};
    page.query('table').fetch();
  }

  function onCheck(checked) {
    q.checked = checked;
  }

  function deleteAction(message, norm_id) {
    page.confirm(message, function () {
      fi.delete({ norm_id: norm_id }).then(refreshTable, page.alert);
    });
  }

  function deleteOne(row) {
    deleteAction(t('delete norm?')(), row.norm_id);
  }

  function deleteMany() {
    deleteAction(t('delete $1{norms_count} norm(s)?')(q.checked.size), _.pluck(q.checked.rows(), 'norm_id'));
  }

  function closeIfDialog(result) {
    if (page.isDialog()) page.close(result);
  }

  function add() {
    fi.add({ object_id: q.object_id }, closeIfDialog)
  }

  function importData() {
    fi.import(null, refreshTable, { object_id: q.object_id, object_name: q.object_name});
  }

  function edit(row) {
    fi.edit({ norm_id: row.norm_id }, closeIfDialog);
  }

  function actions(row) {
    fi.actions({ norm_id: row.norm_id }, closeIfDialog);
  }

  function onDblclick(row) {
    page.isDialog() ? page.close(row) : fi.edit ? edit(row) : null;
  }

  q.actions = _.filter([
    { 
      has_access: fi.import, 
      title: fi.import?.title, 
      execute: importData
    },
  ], x => x.has_access);
  
  q.actions = _.filter(q.actions, x => x.has_access);

  scope.q = q;
});
</script>
<div class="b-content"><form>
  <div class="card card-custom">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label><t>object</t></label>
            <b-input
              name="objects"
              model="q.object_name | name"
              model-key="q.object_id | object_id"
              column="modified_on,modified_by_name"
              on-select="setObject(row)"
              on-delete="setObject({})">
              {{ row.name }}
            </b-input>
          </div>
          <div class="row" ng-show="q.object_id">
            <div class="form-group col-sm-12">
              <label><t>modified on</t></label>
              <span class="form-view">{{ q.modified_on }}</span>
            </div>
            <div class="form-group col-sm-12">
              <label><t>modified by</t></label>
              <span class="form-view">{{ q.modified_by_name }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-sm-14">
          <div class="btn-group">
            <button type="button" class="btn btn-success" ng-click="add()" ng-if="fi.add" b-hotkey="add"><t>add</t></button>
            <button type="button" class="btn btn-success dropdown-toggle" ng-if="q.actions.length > 0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu" ng-if="q.actions.length > 0">
              <a href class="dropdown-item" ng-repeat="action in q.actions" ng-if="action.has_access" ng-click="action.execute()">{{ action.title}}</a>
            </div>
          </div>
          <button type="button" class="btn btn-danger" ng-click="deleteMany()" ng-if="fi.delete" ng-show="q.checked.has">
            <t p1="q.checked.size">delete $1</t>
          </button>
          <button type="button" class="btn btn-default" ng-click="page.close()" ng-hide="page.isFirst()">{{ page.close.title }}</button>
        </div>
        <div class="col-sm-10">
          <b-grid-controller name="table"/>
        </div>
      </div>
      <b-grid name="table" required="norm_id" on-check="onCheck(checked)" on-dblclick="onDblclick(row)"
        sort="object_name,process_name,action_name"
        search="object_name,process_name,action_name,driver_name,area_name,job_name"
        searchable="norm_id"
        extra-columns="norm_id,measure_name,measure_short_name,created_by_name,created_on,modified_by_name,modified_on">
        <b-row>
          <b-col name="object_name" size=4/>
          <b-col name="area_name" size=3/>
          <b-col name="process_name" size=3/>
          <b-col name="action_name" size=3/>
          <b-col name="driver_name" size=3/>
          <b-col name="job_name" size=3/>
          <b-col name="time_value_txt" size=2/>
          <b-col name="frequency_txt" size=2/>
        </b-row>

        <b-action>
          <button type="button" class="btn btn-default" ng-click="page.close(row)" ng-if="page.isDialog()"><t>select</t></button>
          <button type="button" class="btn btn-default" ng-click="edit(row)" ng-if="fi.edit">{{ fi.edit.title }}</button>
          <button type="button" class="btn btn-default" ng-click="deleteOne(row)" ng-if="fi.delete">{{ fi.delete.title }}</button>
        </b-action>

        <b-filter name="norm_id" directive="equal"/>
        <b-filter name="process_id" decorate-with="process_name"/>
        <b-filter name="action_id" decorate-with="action_name"/>
        <b-filter name="driver_id" decorate-with="driver_name"/>
        <b-filter name="area_id" decorate-with="area_name"/>
        <b-filter name="job_id" decorate-with="job_name"/>
      </b-grid>
    </div>
  </div>
</form></div>