<script biruni>
page.ctrl(function(scope, fi, model) {
  var d = model;
  page.title(page.title() + ': ' + d.name);

  d.lang_level = _.mapRows(model.lang_level, ['field_name', 'before', 'current']);

  scope.d = d;
});
</script>
<div class="b-toolbar row">
  <div class="col-sm-14">
    <button type="button" class="btn btn-default" ng-click="page.close()">{{ page.close.title }}</button>
  </div>
  <div class="col-sm-10 b-right">
    <b-pg-controller name="lang_level"/>
  </div>
</div>
<div class="b-content"><form name="form">
  <b-pg-grid name="lang_level" local-data="d.lang_level" search="field_name, before, current">
    <b-pg-row>
      <b-pg-col name="field_name" size=4/>
      <b-pg-col name="before" size=10/>
      <b-pg-col name="current" size=10/>
    </b-pg-row>
  </b-pg-grid>
</form></div>