<script biruni>
page.init(function() {
  var grid = page.grid('table_audit');

  grid.asHtml('state_html', 'state, state_name', row => {
    return `<div class="alert alert-custom alert-light-${ row.state == 'A' ? 'success' : 'danger' } text-center py-1 px-3 m-0"><div class="alert-text">${ row.state_name }</div></div>`;
  });
  grid.disable();
});
page.ctrl(function(scope, model, fi) {
  var d = model, q = {};

  function edit() {
    fi.edit({ question_group_id: d.question_group_id });
  }

  function changeSection(section) {
    q.activeSection = section;
    var tableName = 'table_' + section;

    if (!_.contains(q.enabledGrids, tableName) && q.activeSection != 'main') {
      page.query(tableName).param({ question_group_id: d.question_group_id });
      page.grid(tableName).fetch();
      page.grid(tableName).enable();

      q.enabledGrids.push(tableName);
    }
  }

  function auditDetails(row) {
    if (!fi.audit_details) return;
    fi.audit_details({ question_group_id: d.question_group_id, context_id: row.t_context_id });
  }

  q.enabledGrids = [];
  q.activeSection = 'main';

  scope.q = q;
  scope.d = d;
});
</script>
<div class="b-toolbar">
  <button type="button" class="btn btn-success" ng-click="edit()" ng-if="fi.edit" b-hotkey="edit">{{ fi.edit.title }}</button>
  <button type="button" class="btn btn-default" ng-click="page.close()">{{ page.close.title }}</button>
</div>
<div class="b-content"><form name="form">
  <div class="d-flex flex-row">
    <div class="flex-row-auto b-offcanvas">
      <div class="card card-custom card-stretch gutter-b">
        <div class="card-body">
          <div class="text-center">
            <div class="b-offcanvas-hide">
              <span class="font-weight-bolder font-size-h3">{{ d.name }}</span>
              <span class="text-muted">&nbsp;({{ d.question_group_id }})</span>
            </div>
            <div class="text-muted b-offcanvas-hide font-size-h6">{{ d.code }}</div>
            <div class="b-offcanvas-hide alert alert-custom text-center py-1 px-5 mb-0 mt-2 d-inline-flex" ng-class="d.state == 'A' ? 'alert-light-success' : 'alert-light-danger'">
              <div class="alert-text">
                <t ng-if="d.state == 'A'">active</t>
                <t ng-if="d.state == 'P'">passive</t>
              </div>
            </div>
          </div>
          <div class="py-9 navi navi-bolder navi-hover navi-active navi-link-rounded">
            <div class="navi-item mb-2">
              <a href class="navi-link py-4" ng-class="{ 'active': q.activeSection == 'main' }" ng-click="changeSection('main')">
                <span class="navi-icon mr-2">
                  <i class="fa fa-info-circle"></i>
                </span>
                <span class="navi-text b-offcanvas-hide font-size-lg"><t>main</t></span>
              </a>
            </div>
            <div class="navi-item mb-2" ng-if="fi.audit">
              <a href class="navi-link py-4" ng-class="{ 'active': q.activeSection == 'audit' }" ng-click="changeSection('audit')">
                <span class="navi-icon mr-2">
                  <i class="fa fa-user-clock"></i>
                </span>
                <span class="navi-text b-offcanvas-hide font-size-lg"><t>audit</t></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-row-fluid ml-lg-3" ng-show="q.activeSection == 'main'">
      <div class="card card-custom card-stretch gutter-b">
        <div class="card-header">
          <div class="card-title">
            <h5 class="font-weight-bolder"><t>main</t></h5>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label><t>code</t></label>
                <span class="form-view">{{ d.code }}</span>
              </div>
              <div class="form-group">
                <label><t>name</t></label>
                <span class="form-view">{{ d.name }}</span>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label><t>order no</t></label>
                <span class="form-view">{{ d.order_no | bNumber }}</span>
              </div>
              <div class="form-group">
                <label><t>is required</t></label>
                <span class="form-view">{{ d.is_required }}</span>
              </div>
            </div>
          </div>
          <div class="separator separator-solid my-6"></div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label><t>created by</t></label>
                <span class="form-view">{{ d.created_by_name }}</span>
              </div>
              <div class="form-group">
                <label><t>created on</t></label>
                <span class="form-view">{{ d.created_on }}</span>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label><t>modified by</t></label>
                <span class="form-view">{{ d.modified_by_name }}</span>
              </div>
              <div class="form-group">
                <label><t>modified on</t></label>
                <span class="form-view">{{ d.modified_on }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-row-fluid ml-lg-3" ng-if="fi.audit" ng-show="q.activeSection == 'audit'">
      <div class="card card-custom card-stretch gutter-b">
        <div class="card-header">
          <div class="card-title">
            <h5 class="font-weight-bolder"><t>audit</t></h5>
          </div>
        </div>
        <div class="card-body">
          <div class="row mb-2">
            <div class="offset-sm-12 col-sm-12">
              <b-grid-controller name="table_audit"/>
            </div>
          </div>
          <b-grid name="table_audit" required="t_context_id" on-dblclick="auditDetails(row)"
                  sort="-t_timestamp" search="t_user_name, t_event_name" searchable="name, code"
                  extra-columns="t_audit_id, t_user_id, t_source_project_name, t_date, is_required_name">
            <b-row>
              <b-col name="t_timestamp" size=4/>
              <b-col name="t_user_name" size=4/>
              <b-col name="t_event_name" size=4/>
              <b-col name="code" size=4/>
              <b-col name="name" size=5/>
              <b-col name="state_name" as-html="state_html" size=3/>
            </b-row>

            <b-action>
              <button type="button" class="btn btn-default" ng-click="auditDetails(row)" ng-if="fi.audit_details"><t>details</t></button>
            </b-action>

            <b-filter name="t_date"/>
            <b-filter name="t_user_id" decorate-with="t_user_name"/>
            <b-filter name="t_event" decorate-with="t_event_name"/>
            <b-filter name="is_required"/>
            <b-filter name="is_required" decorate-with="is_required_name"/>
            <b-filter name="state" decorate-with="state_name"/>
          </b-grid>
        </div>
      </div>
    </div>
  </div>
</form></div>