<script biruni>
page.init(function(param, xparam) {
  let t = page.query('table');
  t.param({ server_id: param.server_id });
});
page.ctrl(function(scope, fi, t, param) {
  let q = { 
    is_subpage: scope.bPage.pageType() == 'subpage'
  }, p = {};

  function fetchQuery() {
    q.checked = {};

    page.query('table').param({ server_id: param.server_id });
    page.grid('table').fetch();
  }

  function deleteAction(message, access_group_code) {
    page.confirm(message, function() {
      fi.delete({ access_group_code: access_group_code, server_id: param.server_id })
        .then(fetchQuery, page.alert);
    });
  }

  function deleteOne(row) {
    deleteAction(t('delete access group $1{access_group_name}?')(row.access_group_name), row.access_group_code);
  }

  function deleteMany() {
    deleteAction(t('delete $1{access_group_count} access group(s)?')(q.checked.size), _.pluck(q.checked.rows(), 'access_group_code'));
  }

  function prepareChecked(key, checked, filterFunc) {
    q[key].rows = _.filter(checked.rows(), filterFunc);
    q[key].size = q[key].rows.length;
    q[key].has = q[key].size > 0;
  }

  function onCheck(checked) {
    q.checked = checked;
  }

  function getAccessGroups() {
    if (!fi.get_access_groups) return;
    fi.get_access_groups(param).then(fetchQuery, page.alert);
  }

  // modal
  var modal = page.$content.find("form[name='modal']>.modal");

  function showModal(row) {
    p.extra_info = JSON.stringify(JSON.parse(row.extra_info),null, 2);
    p.extra_info = (p.extra_info).trim();
    modal.modal('show');
  }

  function hideModal() {
    modal.modal('hide');
  }

  scope.q = q;
  scope.p = p;
});
</script>
<div class="b-toolbar row" ng-if="!q.is_subpage">
  <div class="col-sm-14">
    <button type="button" class="btn btn-primary" ng-click="getAccessGroups()" ng-if="fi.get_access_groups">{{ fi.get_access_groups.title }}</button>
    <button type="button" class="btn btn-danger" ng-click="deleteMany()" ng-if="fi.delete" ng-show="q.checked.has"><t p1="q.checked.size">delete $1</t></button>
    <button type="button" class="btn btn-default" ng-click="page.close()" ng-hide="page.isFirst()">{{ page.close.title }}</button>
  </div>
  <div class="col-sm-10 b-right">
    <b-grid-controller name="table"/>
  </div>
</div>
<div class="b-content" ng-class="{ 'card card-custom gutter-b': q.is_subpage }">
  <div ng-class="{ 'card-body': q.is_subpage }">
    <div class="form-group row" ng-if="q.is_subpage">
      <div class="col-sm-12">
        <button type="button" class="btn btn-primary" ng-click="getAccessGroups()" ng-if="fi.get_access_groups">{{ fi.get_access_groups.title }}</button>
        <button type="button" class="btn btn-danger" ng-click="deleteMany()" ng-if="fi.delete" ng-show="q.checked.has"><t p1="q.checked.size">delete $1</t></button>
      </div>
      <div class="col-sm-12">
        <b-grid-controller name="table"/>
      </div>
    </div>
    <b-grid name="table" required="access_group_code, access_group_name, extra_info" on-check="onCheck(checked)" search="access_group_name">
      <b-row>
        <b-col name="access_group_code" size="3"/>
        <b-col name="access_group_name" size="11"/>
        <b-col name="person_count" size="3"/>
        <b-col name="created_on" size="3"/>
        <b-col name="modified_on" size="3"/>
      </b-row>

      <b-action>
        <button type="button" class="btn btn-default" ng-click="deleteOne(row)" ng-if="fi.delete">{{ fi.delete.title }}</button>
        <button type="button" class="btn btn-default" ng-click="showModal(row)" ng-if="!!row.extra_info"><t>details</t></button>
      </b-action>
    </b-grid>
  </div>
  <form name="modal">
    <div class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" style="max-width: 500px;">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"><t>extra details</t></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
          </div>
          <div class="modal-body">
            <pre><code>{{ p.extra_info }}</code></pre>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><t>close</t></button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>