<script biruni>
page.ctrl(function(scope, model, fi, t) {
  var q = model;

  function deleteAction(message, device_token) {
    page.confirm(message, function() {
      fi.delete({ device_token: device_token }).then(page.reload, page.alert);
    });
  }

  function deleteOne(row) {
    deleteAction(t('delete device $1{serial_number}?')(row.serial_number), row.device_token);
  }

  function deleteMany() {
    deleteAction(t('delete $1{device_count} device(s)?')(q.checked.size), _.pluck(q.checked.rows(), 'device_token'));
  }

  function closeIfDialog(result) {
    if (page.isDialog()) page.close(result);
  }

  function add() {
    fi.add(null, closeIfDialog);
  }

  function onCheck(checked) {
    q.checked = checked;
  }

  function copyListeningRoute(row) {
    let route_uri = q.listening_route_uri + '?token=' + row.device_token;
    navigator.clipboard.writeText(route_uri).then(() => { notify(t('copied to clipboard')()); }, page.alert);
  }

  scope.q = q;
});
</script>
<div class="b-toolbar row">
  <div class="col-sm-14">
    <button type="button" class="btn btn-success" ng-click="add()" ng-if="fi.add" b-hotkey="add">{{ fi.add.title }}</button>
    <button type="button" class="btn btn-danger" ng-click="deleteMany()" ng-if="fi.delete" ng-show="q.checked.has"><t p1="q.checked.size">delete $1</t></button>
    <button type="button" class="btn btn-default" ng-click="page.close()" ng-hide="page.isFirst()">{{ page.close.title }}</button>
  </div>
  <div class="col-sm-10 b-right">
    <b-grid-controller name="table"/>
  </div>
</div>
<div class="b-content"><form name="form">
  <b-grid name="table" 
          required="device_token, serial_number" 
          on-check="onCheck(checked)" 
          on-dblclick="onDblclick(row)"
          search="serial_number" searchable="company_name"
          extra-columns="company_id">
    <b-row>
      <b-col name="device_token" size=6/>
      <b-col name="company_name" size=6/>
      <b-col name="serial_number" size=6/>
      <b-col name="person_auth_type_name" size=5/>      
    </b-row>

    <b-action>
      <button type="button" class="btn btn-default" ng-click="copyListeningRoute(row)" ng-if="fi.copy_route">{{ fi.copy_route.title }}</button>
      <button type="button" class="btn btn-default" ng-click="deleteOne(row)" ng-if="fi.delete">{{ fi.delete.title }}</button>
    </b-action>

    <b-filter name="company_id" decorate-with="company_name"/>
    <b-filter name="serial_number"/>
    <b-filter name="device_token"/>
    <b-filter name="person_auth_type" decorate-with="person_auth_type_name"/>
  </b-grid>
</form></div>