<script biruni>
page.ctrl(function(scope, model, t, fi) {
  var d = model;

  function saveAuth() {
    if (page.valid(scope.form)) {
      page.confirm(t('save credentials?')(), () => {
        fi.save_auth({ client_id: d.client_id, client_secret: d.client_secret }).then(notify(t('information successfully saved')()), page.alert);
      });
    }
  }

  function clearAuth() {
    page.confirm(t('clear auth credentials?')(), () => {
      fi.clear_auth().then(page.reload, page.alert);
    });
  }

  scope.d = d;
});
</script>
<div class="b-content">
  <form name="form">
    <div class="card card-custom card-stretch">
      <div class="card-header">
        <div class="card-title">
          <h5 class="font-weight-bolder"><t>auth</t></h5>
        </div>
      </div>
      <div class="card-body">
        <div class="form-group">
          <button type="button" class="btn btn-primary" ng-if="fi.save_auth" ng-click="saveAuth()">{{ fi.save_auth.title }}</button>
          <button type="button" class="btn btn-danger" ng-if="fi.clear_auth" ng-click="clearAuth()">{{ fi.clear_auth.title }}</button>
        </div>
        <div class="form-group">
          <label><t>client id</t><r/></label>
          <input type="text" class="form-control" ng-model="d.client_id" required/>
        </div>
        <div class="form-group">
          <label><t>client secret</t><r/></label>
          <input type="text" class="form-control" ng-model="d.client_secret" required/>
        </div>
      </div>
    </div>
  </form>
</div>