<script biruni>
page.init(function(param) {
  page.query(':table_audit').param(param);
});
page.ctrl(function(scope, fi, param, $timeout) {
  var d = param,
      q = { enabledGrids: [] };

  function pageId(tab, prefix) {
    return (prefix || '') + tab + page.id();
  }

  function changeSection(section) {
    if (_.contains(q.enabledGrids, section)) return;
    if (section) {
      page.subpage(section).run(fi[section].uri, { journal_id: d.journal_id });
    }
    q.enabledGrids.push(section);
  }

  function auditDetails(row) {
    if (!fi.audit_details) return;
    fi.audit_details({ journal_id: d.journal_id, context_id: row.t_context_id });
  }
  
  $timeout(function() {
    let tab = _.find(['journal_audit', 'page_audit'], (x) => fi[x]) || 'dismissal_audit';
    page.$content.find('[data-target="' + pageId(tab, '#') + '"]').addClass('active');
    page.$content.find(pageId(tab, '#')).addClass('active');
    changeSection(tab);
  });
  
  scope.q = q;
});
</script>
<div class="b-toolbar">
  <button type="button" class="btn btn-default" ng-click="page.close()">{{ page.close.title }}</button>
</div>
<div class="b-content">
  <div class="card card-custom">
    <div class="card-header card-header-tabs-line">
      <div class="card-toolbar align-items-end">
        <ul class="nav nav-tabs nav-tabs-line" role="tablist">
          <li class="nav-item" ng-if="fi.journal_audit">
            <a ng-click="changeSection('journal_audit')"  data-target="{{ pageId('journal_audit', '#')}}" class="nav-link" data-toggle="tab" role="tab">
              <t>journal</t>
            </a>
          </li>
          <li class="nav-item" ng-if="fi.page_audit">
            <a ng-click="changeSection('page_audit')"  data-target="{{ pageId('page_audit', '#')}}" class="nav-link" data-toggle="tab" role="tab">
              <t>page</t>
            </a>
          </li>
          <li class="nav-item">
            <a data-target="{{ pageId('dismissal_audit', '#') }}" class="nav-link" data-toggle="tab" role="tab">
              <t>dismissal</t>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="card-body">
      <div class="tab-content">
        <div class="tab-pane" role="tabpanel" id="{{ pageId('journal_audit') }}">
          <b-subpage name="journal_audit"/>
        </div>
        <div class="tab-pane" role="tabpanel" id="{{ pageId('page_audit') }}">
          <b-subpage name="page_audit"/>
        </div>
        <div class="tab-pane" role="tabpanel" id="{{ pageId('dismissal_audit') }}">
          <div class="row mb-2">
            <div class="offset-sm-14 col-sm-10">
              <b-grid-controller name="table_audit"/>
            </div>
          </div>
          <b-grid name="table_audit" required="t_context_id, page_id" on-dblclick="auditDetails(row)"
                  sort="-t_timestamp" search="t_user_name, t_event_name"
                  extra-columns="t_audit_id, t_source_project_name, t_date, t_filial_name,page_id">
            <b-row>
              <b-col name="t_timestamp" size="5"/>
              <b-col name="t_user_name" size="5"/>
              <b-col name="t_event_name" size="5"/>
              <b-col name="dismissal_reason_name" size="5"/>
              <b-col name="employment_source_name" size="4"/>
            </b-row> 
        
            <b-action>
              <button type="button" class="btn btn-default" ng-click="auditDetails(row)" ng-if="fi.audit_details"><t>details</t></button>
            </b-action>
        
            <b-filter name="t_date"/>
            <b-filter name="t_user_id" decorate-with="t_user_name"/>
            <b-filter name="t_event" decorate-with="t_event_name"/>
            <b-filter name="t_filial_id" decorate-with="t_filial_name"/>
            <b-filter name="t_source_project_code" decorate-with="t_source_project_name"/>
            <b-filter name="dismissal_reason_id" decorate-with="dismissal_reason_name">
            <b-filter name="employment_source_id" decorate-with="employment_source_name">
          </b-grid> 
        </div>
      </div>
    </div>
  </div>
</div>