<script biruni>
page.init(function(param, xparam) {
  var t = page.query('table');

  if (xparam.where) t.where(xparam.where);
  else if (param.where) t.where(param.where);

  if (page.isInit()) t.filter('state', '=', 'A');

  page.grid('table').asHtml('passing_percentage_html', 'passing_percentage', row => {
    return !!row.passing_percentage ? row.passing_percentage + '%' : '';
  });
  page.grid('table').asHtml('state_html', 'state, state_name', row => {
    return `<div class="alert alert-custom alert-light-${ row.state == 'A' ? 'success' : 'danger' } text-center py-1 px-3 m-0"><div class="alert-text">${ row.state_name }</div></div>`;
  });
});
page.ctrl(function(scope, fi, t) {
  var q = {};

  function deleteAction(message, exam_id) {
    page.confirm(message, function() {
      fi.delete({ exam_id: exam_id }).then(page.reload, page.alert);
    });
  }

  function deleteOne(row) {
    deleteAction(t('delete exam $1{ name }?')(row.name), row.exam_id);
  }

  function deleteMany() {
    deleteAction(t('delete $1{exam_count} exam(s)?')(q.checked.size), _.pluck(q.checked.rows(), 'exam_id'));
  }

  function closeIfDialog(result) {
    if (page.isDialog()) page.close(result);
  }

  function add() {
    fi.add(null, closeIfDialog);
  }

  function edit(row) {
    fi.edit({ exam_id: row.exam_id }, closeIfDialog);
  }

  function onCheck(checked) {
    q.checked = checked;
  }

  function onDblclick(row) {
    page.isDialog() ? page.close(row) : fi.edit ? edit(row) : null;
  }

  scope.q = q;
});
</script>
<div class="b-toolbar row">
  <div class="col-sm-14">
    <button type="button" class="btn btn-success" ng-click="add()" ng-if="fi.add" b-hotkey="add">{{ fi.add.title }}</button>
    <button type="button" class="btn btn-danger" ng-click="deleteMany()" ng-if="fi.delete" ng-show="q.checked.has"><t p1="q.checked.size">delete $1</t></button>
    <button type="button" class="btn btn-default" ng-click="page.close()" ng-hide="page.isFirst()">{{ page.close.title }}</button>
  </div>
  <div class="col-sm-10 b-right">
    <b-grid-controller name="table"/>
  </div>
</div>
<div class="b-content"><form name="form">
  <b-grid name="table" required="exam_id, name" on-check="onCheck(checked)" on-dblclick="onDblclick(row)"
          sort="name" search="name" searchable="exam_id"
          extra-columns="exam_id, randomize_questions_name, randomize_options_name, for_recruitment_name, created_by_name, created_on, modified_by_name, modified_on">
    <b-row>
      <b-col name="name" size=8/>
      <b-col name="pick_kind_name" size=4/>
      <b-col name="duration" size=4/>
      <b-col name="question_count" size=4/>
      <b-col name="passing_score" size=3/>
    </b-row>

    <b-extra-columns>
      <b-col name="passing_percentage" as-html="passing_percentage_html"/>
      <b-col name="state_name" as-html="state_html"/>
    </b-extra-columns>

    <b-action>
      <button type="button" class="btn btn-default" ng-click="page.close(row)" ng-if="page.isDialog()"><t>select</t></button>
      <button type="button" class="btn btn-default" ng-click="edit(row)" ng-if="fi.edit">{{ fi.edit.title }}</button>
      <button type="button" class="btn btn-default" ng-click="deleteOne(row)" ng-if="fi.delete">{{ fi.delete.title }}</button>
    </b-action>

    <b-filter name="exam_id" directive="equal" extra/>
    <b-filter name="name"/>
    <b-filter name="pick_kind" decorate-with="pick_kind_name"/>
    <b-filter name="duration"/>
    <b-filter name="question_count"/>
    <b-filter name="passing_score"/>
    <b-filter name="state" decorate-with="state_name"/>
    <b-filter name="for_recruitment" decorate-with="for_recruitment_name" extra/>
    <b-filter name="randomize_questions" decorate-with="randomize_questions_name" extra/>
    <b-filter name="randomize_options" decorate-with="randomize_options_name" extra/>
    <b-filter name="created_by" decorate-with="created_by_name" extra/>
    <b-filter name="created_on" extra/>
    <b-filter name="modified_by" decorate-with="modified_by_name" extra/>
    <b-filter name="modified_on" extra/>
  </b-grid>
</form></div>