<script biruni>
page.init(function(param, xparam) {
  var t = page.query('table');

  if (xparam.where) t.where(xparam.where);
  else if (!_.isEmpty(param)) {
    let where = param.person_id ? ['person_id', '=', param.person_id] : null;
    if (param.begin_date && param.end_date) {
      let date_where = ['and', [['track_date', '>=', param.begin_date], ['track_date', '<=', param.end_date]]];
      where = _.isEmpty(where) ? date_where : ['and', [where, date_where]];
    }
    t.where(where);
  }

  var tg = page.grid('table');
  var trackTypeClass = { C: 'warning', I: 'primary', O: 'danger' };
  tg.asHtml('track_type_html', 'track_type, track_type_name', function(row) {
    return `<span class="fa fa-circle text-${ trackTypeClass[row.track_type] }"></span>&nbsp;<span>${ row.track_type_name }</span>`;
  });
});
page.ctrl(function(scope, model, xparam, fi) {
  var d = _.extend(model, xparam);

  function closeIfDialog(result) {
    if (page.isDialog()) page.close(result);
  }

  // person
  function setPerson(row) {
    if (!row) return;
    d.person_id = row.person_id;
    d.person_name = row.name;
  }

  function addPerson(value) {
    fi.add_person(null, setPerson, { name: value });
  }

  function selectPerson() {
    fi.select_person(null, setPerson, { where: ['state', '=', 'A'] });
  }

  // location
  function setLocation(row) {
    if (!row) return;
    d.location_id = row.location_id;
    d.location_name = row.name;
  }

  function selectLocation() {
    fi.select_location(null, setLocation, { where: ['and', [['state', '=', 'A'], ['prohibited', '=', 'N']]] });
  }

  function addLocation(value) {
    fi.add_location(null, setLocation, { name: value });
  }

  function save() {
    if (page.valid(scope.form)) {
      let data = _.pick(d, 'person_id', 'location_id', 'track_type', 'note', 'is_valid', 'track_time') ;
      page.post(':save', data).then(page.close, page.alert);
    }
  }

  scope.d = d;
});
</script>
<div class="b-toolbar">
  <button type="button" class="btn btn-primary" ng-click="save()" b-hotkey="save"><t>save</t></button>
  <button type="button" class="btn btn-default" ng-click="page.close()">{{ page.close.title }}</button>
</div>
<div class="b-content"><form name="form">
  <div class="form-row">
    <div class="col-sm-12">
      <div class="card card-custom">
        <div class="card-body">
          <div class="form-group">
            <label><t>person</t><r/></label>
            <b-input name="persons"
                     model="d.person_name | name"
                     model-key="d.person_id | person_id"
                     is-add="fi.add_person"
                     is-view="fi.select_person"
                     on-view="selectPerson()"
                     on-add="addPerson(value)"
                     required-key>
              {{ row.name }}
            </b-input>
          </div>
          <div class="form-group">
            <label><t>location</t></label>
            <b-input name="locations"
                     model="d.location_name | name"
                     model-key="d.location_id | location_id"
                     is-add="fi.add_location"
                     is-view="fi.select_location"
                     on-view="selectLocation()"
                     on-add="addLocation(value)">
              {{ row.name }}
            </b-input>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <label><t>track time</t><r/></label>
              <input type="text" class="form-control" ng-model="d.track_time" b-date-picker="DD.MM.YYYY HH:mm" required/>
            </div>
          </div>
          <div class="form-group">
            <label><t>track type</t></label><br/>
            <label class="radio" ng-if="fi.track_type_check">
              <input type="radio" name="track_type" value="C" ng-model="d.track_type"/><span><t>check</t></span>
            </label>
            <label class="radio" ng-if="fi.track_type_input">
              <input type="radio" name="track_type" value="I" ng-model="d.track_type"/><span><t>input</t></span>
            </label>
            <label class="radio" ng-if="fi.track_type_output">
              <input type="radio" name="track_type" value="O" ng-model="d.track_type"/><span><t>output</t></span>
            </label>
          </div>
          <div class="form-group">
            <label><t>note</t></label>
            <textarea class="form-control" rows="2" ng-model="d.note" b-maxlength="300"></textarea>
          </div>
          <div class="form-group">
            <label><t>is_valid</t></label><br/>
            <label class="switch">
              <input type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-model="d.is_valid"/>
              <span>
                <t ng-if="d.is_valid == 'Y'">yes</t>
                <t ng-if="d.is_valid == 'N'">no</t>
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</form></div>