<script biruni>
page.ctrl(function(scope, model, fi, t, $timeout) {
  var d = _.omit(model, 'references', 'sick_leaves'),
      q = model.references,
      p = { data: {} };;

  // staff
  function whereStaff(data) {
    let where = ['and', [
                  ['hiring_date', '<=', data.begin_date],
                  ['or', [
                    ['dismissal_date', '=', [null]],
                    ['dismissal_date', '>=', data.end_date]
                  ]]]
                ];

    if (q.access_all_employee == 'N') {
      where = ['and', [['employee_id', '<>', q.user_id], where]];
    }

    return where;
  }

  function changeStaffQuery(query, data, value) {
    query.where(whereStaff(data)).searchValue(value);
  }

  function setStaff(data, row) {
    if (!row) return;
    data.staff_id = row.staff_id;
    data.staff_name = row.name;
  }

  function selectStaff(data) {
    fi.select_staff({ date: data.begin_date }, _.partial(setStaff, data), { where: whereStaff(data) });
  }

  // sick leave reason
  function setSickLeaveReason(data, row) {
    if (!row) return;
    data.reason_id = row.reason_id;
    data.reason_name = row.name;
    data.coefficient = row.coefficient;
  }

  function selectSickLeaveReason(data) {
    fi.select_reason(null, _.partial(setSickLeaveReason, data), { where: ['state', '=', 'A'] });
  }

  function addSickLeaveReason(data, value) {
    fi.add_reason(null, _.partial(setSickLeaveReason, data), { name: value });
  }

  // ------------------------------ sick leave trip modal ------------------------------//
  var modal = page.$content.find('form[name=modal]>.modal');

  function showModal() {
    $timeout(function() {
      modal.modal('show');
    });
  }

  function hideModal() {
    modal.modal('hide');
  }

  function sickLeaveModal(row) {
    if (row) {
      let index = _.findIndex(d.sick_leaves, row);
      q.addMode = false;
      p.data = _.extend(angular.copy(row), { index: index });
      p.data.files = row.files;
      p.title = t('edit sick leave')();
    } else {
      q.addMode = true;

      p.title = t('add sick leave')();
      p.data = {
        begin_date: d.journal_date,
        end_date: d.journal_date,
      };
    }

    page.untouch(scope.modal);
    showModal();
  }

  function saveSickLeave() {
    if (page.valid(scope.modal)) {
      if (q.addMode) d.sick_leaves.push(p.data);
      else d.sick_leaves.splice(p.data.index, 1, p.data);

      hideModal();
    }
  }

  function deleteMany() {
    _.each(q.checked.rows(), item => {
      let index = _.findIndex(d.sick_leaves, item);
      d.sick_leaves.splice(index, 1);
    });
  }

  function onCheck(checked) {
    q.checked = checked;
  } 

  // files
  function uploadFiles(data, $file) {
    if (_.isEmpty($file)) return;
    data.files = _.union(data.files, $file);
    page.dropzone('files').clear();
  }

  function deleteFile(data, index) {
    data.files.splice(index, 1);
  }

  function save(posted) {
    if (page.valid(scope.form)) {
      let sick_leaves = q.is_sick_leave_multiple ? d.sick_leaves : [d],
          data = {
            staff_ids: _.pluck(sick_leaves, 'staff_id'),
            begin_dates: _.pluck(sick_leaves, 'begin_date'),
            end_dates: _.pluck(sick_leaves, 'end_date')
          };

      page.post(':calc_sick_days', data).then(function(result) {
        let confirmMessage = '', staff_names;

        data = _.chain(result.data)
                .mapRows(['staff_name', 'fact_days', 'sick_leave_days'])
                .filter(x => { return x.fact_days > 0; })
                .value();

        staff_names = _.pluck(data, 'staff_name');

        if (staff_names.length == 1) {
          confirmMessage = q.tWarningFactDays(data[0].staff_name, data[0].fact_days, data[0].trip_days) + '. ';
        } else if (staff_names.length) {
          confirmMessage = t('warning: locked fact days found $1{staff_count} staffs: $2{staff_names}')(staff_names.length, staff_names.join(', ')) + '. ';
        }

        confirmMessage += (posted == 'Y' ? t('post?')() : t('save?')());

        page.confirm(confirmMessage, function() {
          let data = _.pick(d, 'journal_id', 'journal_type_id', 'journal_number', 'journal_name', 'journal_date');

          data.posted = posted;
          data.sick_leaves = _.each(sick_leaves, x => {
            x.shas = _.map(x.files, y => y.sha ? y.sha : y);
            x = _.pick(x, 'timeoff_id', 'staff_id', 'reason_id', 'begin_date', 'end_date', 'shas', 'coefficient', 'sick_leave_number');
          });

          page.post(':save', data).then(page.close, page.alert);
        });
      }, page.alert);
    }
  }

  q.t_remove_file = t('remove file')();
  q.tWarningFactDays = t('warning: locked fact days found, fact days=$1, resulting sick leave days=$2.');
  d.files = _.mapRows(d.files, ['sha', 'name']);

  q.is_sick_leave_multiple = d.journal_type_id != q.journal_type_id;

  model.sick_leaves = model.sick_leaves || (q.is_sick_leave_multiple ? [] : [{}]);
  _.each((model.sick_leaves), x => {
    x.files = _.mapRows(x.files, ['sha', 'name']);
  });

  if (q.is_sick_leave_multiple) {
    d.sick_leaves = model.sick_leaves;
  } else {
    _.extend(d, model.sick_leaves[0]);
  }
  
  scope.d = d;
  scope.q = q;
  scope.p = p;
});
</script>
<div class="b-toolbar">
  <button type="button" class="btn btn-primary" ng-click="save('N')"><t>save</t></button>
  <button type="button" class="btn btn-primary" ng-click="save('Y')"
          ng-if="d.has_sign_template ? d.has_sign_template == 'N' : d.has_sign_document ? d.has_sign_document == 'N' : true">
    <t>post</t>
  </button>
  <button type="button" class="btn btn-default" ng-click="page.close()">{{ page.close.title }}</button>
</div>
<div class="b-content">
  <form name="form">
    <div class="card card-custom" ng-if="q.is_sick_leave_multiple">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-row">
              <div class="col-sm-12 mb-4"> 
                <label><t>journal date</t><r/></label>
                <input type="text" class="form-control" ng-model="d.journal_date" b-date-picker required/> 
              </div>
              <div class="col-sm-12 mb-4"> 
                <label><t>journal number</t><r ng-if="d.journal_id"/></label>
                <input type="text" class="form-control" ng-model="d.journal_number" b-maxlength="50" ng-required="d.journal_id"/> 
              </div>
            </div>
            <div class="form-group">
              <label><t>journal name</t></label>
              <input type="text" class="form-control" ng-model="d.journal_name" b-maxlength="150"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-14 mb-2">
            <button type="button" class="btn btn-default" ng-click="sickLeaveModal()"><t>add</t></button>
            <button type="button" class="btn btn-danger" ng-click="deleteMany()" ng-show="q.checked.has">
              <t p1="q.checked.size">delete $1</t>
            </button>
          </div>
          <div class="col-sm-10 mb-2">
            <b-pg-controller name="sick_leaves"/>
          </div>
        </div>
        <b-pg-grid name="sick_leaves" local-data="d.sick_leaves" search="employee_name" on-check="onCheck(checked)"
                   current-limit="1000" searchable="page_id" sort="employee_name">
          <b-pg-row>
            <b-pg-col name="staff_name" size="5"/>
            <b-pg-col name="sick_leave_number" size="4"/>
            <b-pg-col name="reason_name" size="4"/>
            <b-pg-col name="coefficient" size="3"/>
            <b-pg-col name="begin_date" size="3"/>
            <b-pg-col name="end_date" size="3"/>
            <b-pg-col name="actions" size="1">
              <div class="text-left">
                <button type="button" class="btn btn-default btn-icon" ng-click="sickLeaveModal(row)"><i class="fa fa-edit"></i></button>
              </div>
            </b-pg-col>
          </b-pg-row>
        </b-pg-grid>
      </div>
    </div>
    <div class="form-row" ng-if="!q.is_sick_leave_multiple">
      <div class="col-sm-12">
        <div class="card card-custom">
          <div class="card-body">
            <div class="form-row">
              <div class="col-sm-12 mb-4">
                <label><t>journal date</t><r/></label>
                <input type="text" class="form-control" ng-model="d.journal_date" b-date-picker required/>
              </div>
              <div class="col-sm-12 mb-4">
                <label><t>journal number</t><r ng-if="d.journal_id"/></label>
                <input type="text" class="form-control" ng-model="d.journal_number" b-maxlength="50" ng-required="d.journal_id"/>
              </div>
            </div>
            <div class="form-group">
              <label><t>journal name</t></label>
              <input type="text" class="form-control" ng-model="d.journal_name" b-maxlength="150"/>
            </div>
            <div class="form-group">
              <label><t>staff</t><r/></label>
              <b-input name="staffs"
                       model="d.staff_name | name"
                       model-key="d.staff_id | staff_id"
                       column="staff_number, hiring_date, dismissal_date, staff_kind_name"
                       search="staff_number, name"
                       on-change="changeStaffQuery(query, d, value)"
                       is-view="fi.select_staff"
                       on-view="selectStaff()"
                       required-key>
                <header>
                  <div class="col-sm-6"><t>staff number</t></div>
                  <div class="col-sm-12"><t>staff name</t></div>
                  <div class="col-sm-6"><t>staff kind name</t></div>
                </header>
                <content>
                  <div class="col-sm-6">{{ row.staff_number }}</div>
                  <div class="col-sm-12">{{ row.name }}</div>
                  <div class="col-sm-6">{{ row.staff_kind_name }}</div>
                </content>
              </b-input>
            </div>
            <div class="form-group">
              <label><t>sick leave number</t><r/></label>
              <input type="text" class="form-control" ng-model="d.sick_leave_number" b-maxlength="50" required/>
            </div>
            <div class="form-row mb-4">
              <div class="col-sm-16">
                <label><t>sick leave reason</t><r/></label>
                <b-input name="reasons"
                         model="d.reason_name | name"
                         model-key="d.reason_id | reason_id"
                         column="coefficient"
                         on-select="setSickLeaveReason(d, row)"
                         is-add="fi.add_reason"
                         is-view="fi.select_reason"
                         on-view="selectSickLeaveReason(d)"
                         on-add="addSickLeaveReason(d, value)"
                         required-key>
                    {{ row.name }}
                </b-input>
              </div>
              <div class="col-sm-8">
                <label><t>coefficient</t><r/></label>
                <input type="text" class="form-control" ng-model="d.coefficient" b-number scale="6" precision="1"/>
              </div>
            </div>
            <div class="form-row mb-4">
              <div class="col-sm-12">
                <label><t>begin date</t><r/></label>
                <input type="text" class="form-control" ng-model="d.begin_date" b-date-picker required/>
              </div>
              <div class="col-sm-12">
                <label><t>end date</t><r/></label>
                <input type="text" class="form-control" ng-model="d.end_date" b-date-picker required/>
              </div>
            </div>
            <div class="form-group">
              <label><t>files</t></label>
              <b-dropzone name="files" multiple on-select="uploadFiles(d, $file)"/>
              <div class="form-group mt-4">
                <div class="form-group mb-0" style="font-size: 14px;" ng-repeat="file in d.files">
                  <label>
                    <i class="fa fa-times" style="cursor: pointer;" title="{{ q.t_remove_file }}" ng-click="deleteFile(d, $index)"/>
                    <span class="font-blue-hoki">{{ file.name }}</span><br ng-if="!$last"/>
                  </label>
                </div>
                <div style="font-size: 14px;">
                  <label class="font-grey-salt" ng-if="d.files.length == 0"><span class="fa fa-file">&nbsp;&nbsp;</span><t>no files</t></label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <form name="modal">
    <div class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-xxl" role="journal">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" ng-bind-html="p.title"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label><t>staff</t><r/></label>
              <b-input name="staffs"
                       model="p.data.staff_name | name"
                       model-key="p.data.staff_id | staff_id"
                       column="staff_number, hiring_date, dismissal_date, staff_kind_name"
                       search="staff_number, name"
                       on-change="changeStaffQuery(query, p.data, value)"
                       is-view="fi.select_staff"
                       on-view="selectStaff(p.data)"
                       required-key>
                <header>
                  <div class="col-sm-6"><t>staff number</t></div>
                  <div class="col-sm-12"><t>staff name</t></div>
                  <div class="col-sm-6"><t>staff kind name</t></div>
                </header>
                <content>
                  <div class="col-sm-6">{{ row.staff_number }}</div>
                  <div class="col-sm-12">{{ row.name }}</div>
                  <div class="col-sm-6">{{ row.staff_kind_name }}</div>
                </content>
              </b-input>
            </div>
            <div class="form-group">
              <label><t>sick leave number</t><r/></label>
              <input type="text" class="form-control" ng-model="p.data.sick_leave_number" b-maxlength="50" required/>
            </div>
            <div class="form-group">
              <label><t>sick leave reason</t><r/></label>
              <b-input name="reasons"
                       model="p.data.reason_name | name"
                       model-key="p.data.reason_id | reason_id"
                       column="coefficient"
                       on-select="setSickLeaveReason(p.data, row)"
                       is-add="fi.add_reason"
                       is-view="fi.select_reason"
                       on-view="selectSickLeaveReason(p.data)"
                       on-add="addSickLeaveReason(p.data, value)"
                       required-key>
                  {{ row.name }}
              </b-input>
            </div>
            <div class="form-group">
              <label><t>coefficient</t><r/></label>
              <input type="text" class="form-control" ng-model="p.data.coefficient" b-number scale="6" precision="1"/>
            </div>
            <div class="form-row mb-4">
              <div class="col-sm-12 ">
                <label><t>begin date</t><r/></label>
                <input type="text" class="form-control" ng-model="p.data.begin_date" b-date-picker required/>
              </div>
              <div class="col-sm-12">
                <label><t>end date</t><r/></label>
                <input type="text" class="form-control" ng-model="p.data.end_date" b-date-picker required/>
              </div>
            </div>
            <div class="form-group">
              <label><t>files</t></label>
              <b-dropzone name="files" multiple on-select="uploadFiles(p.data, $file)"/>
              <div class="form-group mt-4">
                <div class="form-group mb-0" style="font-size: 14px;" ng-repeat="file in p.data.files">
                  <label>
                    <i class="fa fa-times" style="cursor: pointer;" title="{{ q.t_remove_file }}" ng-click="deleteFile(p.data, $index)"/>
                    <span class="font-blue-hoki">{{ file.name }}</span><br ng-if="!$last"/>
                  </label>
                </div>
                <div style="font-size: 14px;">
                  <label class="font-grey-salt" ng-if="p.data.files.length == 0"><span class="fa fa-file">&nbsp;&nbsp;</span><t>no files</t></label>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="saveSickLeave()"><t>save</t></button>
            <button type="button" class="btn btn-default" data-dismiss="modal"><t>close</t></button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>