<script biruni>
page.init(function(param, xparam) {
  var t = page.query('table');

  if (xparam.where) t.where(xparam.where);
  else if (param.where) t.where(param.where);

  var pg = page.grid('table');
  var postedClass = {
    Y: 'primary',
    N: 'secondary'
  };

  pg.asHtml('posted_html', 'posted, posted_name', function(row) {
    return `<span class="badge badge-${postedClass[row.posted]}">${row.posted_name}</span>`;
  });
});
page.ctrl(function(scope, model, fi, t) {
  var q = model || {};

  q.to_post = {};
  q.to_unpost = {};
  q.to_delete = {};

  function doAction(action, message, journal_id) {
    page.confirm(message, function() {
      action({ journal_id }).then(result => {
        page.query('table').fetch();
        q.to_post = {};
        q.to_unpost = {};
        q.to_delete = {};
      }, page.alert);
    });
  }

  function postOne(row) {
    doAction(fi.post, t('post journal No. $1{journal_number} of $2{journal_date}?')(row.journal_number, row.journal_date), row.journal_id);
  }

  function postMany() {
    doAction(fi.post, t('post $1 journal(s)?')(q.to_post.size), _.pluck(q.to_post.rows, 'journal_id'));
  }

  function unpostOne(row) {
    doAction(fi.unpost, t('unpost journal No. $1{journal_number} of $2{journal_date}?')(row.journal_number, row.journal_date), row.journal_id);
  }

  function unpostMany() {
    doAction(fi.unpost, t('unpost $1 journal(s)?')(q.to_unpost.size), _.pluck(q.to_unpost.rows, 'journal_id'));
  }

  function deleteOne(row) {
    doAction(fi.delete, t('delete journal No. $1{journal_number} of $2{journal_date}?')(row.journal_number, row.journal_date), row.journal_id);
  }

  function deleteMany() {
    doAction(fi.delete, t('delete $1{journal_count} journal(s)?')(q.to_delete.size), _.pluck(q.to_delete.rows, 'journal_id'));
  }

  function add() {
    fi.add({ journal_type_id: q.journal_type_id });
  }

  function edit(row) {
    fi.edit({ journal_id: row.journal_id });
  }

  function view(row) {
    fi.view({ journal_id: row.journal_id });
  }

  function prepareChecked(key, checked, filterFunc) {
    q[key].rows = _.filter(checked.rows(), filterFunc);
    q[key].size = q[key].rows.length;
    q[key].has = q[key].size > 0;
  }

  function onCheck(checked) {
    if (fi.post) prepareChecked('to_post', checked, x => x.posted == 'N' && !x.source_table);
    if (fi.unpost) prepareChecked('to_unpost', checked, x => x.posted == 'Y' && !x.source_table);
    if (fi.delete) prepareChecked('to_delete', checked, x => x.posted == 'N' && !x.source_table);
  }

  function onDblclick(row) {
    page.isDialog() ? page.close(row) : fi.view ? view(row) : fi.edit && !row.source_table ? edit(row) : null;
  }

  scope.q = q;
});
</script>
<div class="b-toolbar row">
  <div class="col-sm-14">
    <button type="button" class="btn btn-success" ng-click="add()" ng-if="fi.add">{{ fi.add.title }}</button>
    <button type="button" class="btn btn-primary" ng-click="postMany()" ng-if="fi.post" ng-show="q.to_post.has"><t p1="q.to_post.size">post $1</t></button>
    <button type="button" class="btn btn-danger" ng-click="unpostMany()" ng-if="fi.unpost" ng-show="q.to_unpost.has"><t p1="q.to_unpost.size">unpost $1</t></button>
    <button type="button" class="btn btn-danger" ng-click="deleteMany()" ng-if="fi.delete" ng-show="q.to_delete.has"><t p1="q.to_delete.size">delete $1</t></button>
    <button type="button" class="btn btn-default" ng-click="page.close()" ng-hide="page.isFirst()">{{ page.close.title }}</button>
  </div>
  <div class="col-sm-10 b-right">
    <b-grid-controller name="table"/>
  </div>
</div>
<div class="b-content">
  <form name="form">
    <b-grid name="table" required="journal_id, journal_number, journal_date, posted, source_table" on-check="onCheck(checked)" on-dblclick="onDblclick(row)" sort="-journal_date, -created_on" search="journal_number, employee_names"
            searchable="journal_id, journal_name, adjustment_division_name" extra-columns="journal_id, journal_name, created_by_name, modified_by_name, created_on, modified_on">
      <b-row>
        <b-col name="journal_date" size=3/>
        <b-col name="journal_number" size=3/>
        <b-col name="employee_names" size=7/>
        <b-col name="adjustment_division_name" size=4/>
        <b-col name="adjustment_date" size=4/>
        <b-col name="posted_name" as-html="posted_html" size=2/>
      </b-row>

      <b-action>
        <button type="button" class="btn btn-default" ng-click="view(row)" ng-if="fi.view">{{ fi.view.title }}</button>
        <button type="button" class="btn btn-default" ng-click="edit(row)" ng-if="fi.edit && !row.source_table">{{ fi.edit.title }}</button>
        <button type="button" class="btn btn-default" ng-click="postOne(row)" ng-if="fi.post && row.posted == 'N' && !row.source_table">{{ fi.post.title }}</button>
        <button type="button" class="btn btn-default" ng-click="unpostOne(row)" ng-if="fi.unpost && row.posted == 'Y' && !row.source_table">{{ fi.unpost.title }}</button>
        <button type="button" class="btn btn-default" ng-click="deleteOne(row)" ng-if="fi.delete && row.posted == 'N' && !row.source_table">{{ fi.delete.title }}</button>
      </b-action>

      <b-filter name="journal_id" directive="equal" extra/>
      <b-filter name="journal_date"/>
      <b-filter name="adjustment_date"/>
      <b-filter name="journal_number"/>
      <b-filter name="adjustment_division_id" decorate-with="adjustment_division_name" tree-with-parent="parent_id"/>
      <b-filter name="employee_ids" decorate-with="employee_names"/>
      <b-filter name="posted" decorate-with="posted_name"/>
      <b-filter name="created_by" decorate-with="created_by_name" extra/>
      <b-filter name="created_on" extra/>
      <b-filter name="modified_by" decorate-with="modified_by_name" extra/>
      <b-filter name="modified_on" extra/>
    </b-grid>
  </form>
</div>