<script biruni>
page.ctrl(function(scope, model, fi, t, xparam, bBig, $timeout) {
  var d = _.isUndefined(model.data.payment_id) ? _.extend(model.data, xparam) : model.data,
      q = model.references,
      p = {},
      Big = bBig(q.round_value + q.rmt_floor);

  function nIsNull(num) {
    return _.isUndefined(num) || _.isNull(num) || _.isNaN(num) || num == '';
  }

  function parseToFloat(num) {
    if (nIsNull(num)) return 0;
    return parseFloat(num);
  }

  // modal
  let modal = page.$content.find('form[name=modal]>.modal');

  function showModal() {
    $timeout(function() {
      modal.modal('show');
    });
  }

  function hideModal() {
    modal.modal('hide');
  }

  // operations
  function fixOperations(operations) {
    return _.chain(operations)
            .each(x => x.bonus_type_name = q.bonus_types_dict[x.bonus_type])
            .sortBy(x => x.period_begin ? x.period_begin.split('.').reverse().join('') : '')
            .sortBy('bonus_type_name')
            .sortBy('job_name')
            .sortBy('staff_number')
            .sortBy('staff_name')
            .value();
  }

  function toOperations(parts) {
    let operations = [];
    _.each(parts, part => {
      let operation = _.omit(part, 'periods');
      _.chain(part.periods).groupBy('bonus_type').each((periods, bonus_type) => {
        let sales_amount = 0, amount = 0;

        _.each(periods, period => {
          period.sales_amount = Big(period.sales_amount).round().toString();
          period.amount = Big(period.amount).round().toString();

          sales_amount += parseToFloat(period.sales_amount);
          amount += parseToFloat(period.amount);
        });

        if (sales_amount != 0) {
          operations.push(_.extend({ bonus_type, sales_amount, amount, percentage: periods[0].percentage, periods: _.sortBy(periods, x => x.period.split('.').reverse().join('')) }, operation));
        }
      });
    });

    return fixOperations(operations);
  }

  // operation item
  function addItem() {
    d.operations.push({});
    q.show_total = 'N';

    filterOperations(false);
  }

  function removeItem(item) {
    let index = _.findIndex(d.operations, x => { 
      return x.staff_id == item.staff_id &&
             x.division_id == item.division_id &&
             x.job_id == item.job_id &&
             x.begin_date == item.end_date &&
             x.amount == item.amount &&
             x.sales_amount == item.sales_amount;
    });
    
    d.operations.splice(index, 1);
  }

  function removeItems() {
    _.each(q.checked.rows, function(row) {
      removeItem(row);
    });
    q.checked = {};
    calcTotalAmount();
    filterOperations();
  }

  function showItem(item) {
    p.data = angular.copy(item);
    p.index = _.findIndex(d.operations, item);

    showModal();
  }

  function saveItem() {
    d.operations.splice(p.index, 1, p.data);
    calcTotalAmount();
    filterOperations();
    hideModal();
  }

  function calcItem(item) {
    let amount = 0;
    _.each(item.periods, period => {
      if (period.amount) {
        period.amount = Big(period.amount).round().toString();
        amount += parseToFloat(period.amount);
      }
    });
    item.amount = amount;
  }

  // staff
  function whereStaff() {
    let where = ['and', [
                  ['hiring_date', '<=', d.end_date],
                  ['or', [
                    ['dismissal_date', '=', [null]],
                    ['dismissal_date', '>=', d.begin_date]]
                  ]]
                ],
        staff_ids = _.chain(d.operations).pluck('staff_id').compact().unique().value();

    if (d.division_id) {
      where = ['and', [['division_id', '=', d.division_id], where]];
    }

    if (d.job_id) {
      where = ['and', [['job_id', '=', d.job_id], where]];
    }

    if (staff_ids.length > 0) {
      where = ['and', [['staff_id', '<>', staff_ids], where]];
    }

    return where;
  }

  function changeStaffQuery(query, value) {
    query.param(_.chain(d).pick('division_id', 'job_id', 'begin_date', 'end_date').extend({ staff_ids: _.chain(d.operations).pluck('staff_id').compact().unique().value() }).value());
    query.searchValue(value);
  }

  function setStaff(item, row) {
    if (!row) return;
    item.staff_id = row.staff_id;
    item.staff_name = row.name;
    item.staff_number = row.staff_number;
    
    if (!_.isEmpty(row)) {
      updateStaffOpers(item);
    }
  }

  function selectStaff(item) {
    fi.select_staff({ date: d.end_date }, _.partial(setStaff, item), { where: whereStaff() });
  }

  function selectStaffs() {
    fi.select_staff({ date: d.end_date }, addStaffsOpers, { where: whereStaff(), multiple_select: true });
  }

  function updateStaffOpers(item) {
    q.show_total = 'N';

    loadOperations([item.staff_id]).then(function(result) {
      let curr_operations = _.filter(d.operations, { staff_id: item.staff_id }),
          index = _.findIndex(d.operations, _.first(curr_operations));
      _.each(curr_operations, item => removeItem(item));

      result = toOperations(result);
      d.operations.splice(index, 0, ...result);
      filterOperations(false);
      calcTotalAmount();

      if (result.length == 0) notify(t('no operation found for $1{staff_name}')(item.staff_name), 'warning');
      else notify(t('successfully operations loaded for $1{staff_name}')(item.staff_name));
    }, page.alert);
  }

  function addStaffsOpers(staffs) {
    if (!!staffs && staffs.length > 0)
    loadOperations(_.pluck(staffs, 'staff_id')).then(function(result) {
      result = toOperations(result);
      d.operations.push(...result);
      filterOperations();
      calcTotalAmount();
      if (result.length == 0) notify(t('no operations found for $1{staff_count} staff(s)')(staffs.length), 'warning');
      else notify(t('successfully operations loaded for $1{staff_count} staff(s)')(staffs.length));
    }, page.alert);
  }

  // cashbox
  function setCashbox(result) {
    if (!result) return;
    d.cashbox_id = result.cashbox_id;
    d.cashbox_name = result.name;
  }

  function addCashbox(value) {
    fi.add_cashbox(null, setCashbox, { name: value });
  }

  function selectCashbox() {
    fi.select_cashbox(null, setCashbox, { where: ['state', '=', 'A'] });
  }

  // job
  function changeJob(query, value) {
    query.param({ division_id: d.division_id });
    query.searchValue(value);
  }

  function setJob(result) {
    if (!result) return;
    d.job_id = result.job_id;
    d.job_name = result.name;
  }

  function addJob(value) {
    fi.add_job(null, setJob, { name: value, division_ids: d.division_id ? [d.division_id] : [] });
  }

  function selectJob() {
    fi.select_job(_.pick(d, 'division_id'), setJob, { where: ['state', '=', 'A'] });
  }

  // bank account
  function addBankAccount() {
    fi.add_bank_account({ person_id: d.filial_id });
  }

  // load operations
  function loadOperations(staff_ids) {
    return page.post(':load_operations', _.chain(d).pick(['begin_date', 'end_date', 'division_id', 'job_id', 'bonus_type']).extend({ staff_ids }).value());
  }

  // fill data
  function fillData() {
    page.confirm(t('fill data?')(), function() {
      loadOperations().then(function(result) {
        result = toOperations(result);
        d.operations = result;
        filterOperations();
        calcTotalAmount();
        if (result.length == 0) notify(t('no operations found for given parametrs')(), 'warning');
        else notify(t('successfully operations loaded for given parametrs')());
      }, page.alert);
    });
  }

  // save
  function checkZeroAmount() {
    return !_.any(d.operations, function(item, index) {
      if (item.amount == 0) {
        page.alert(t('amount cannot be 0, row_index=$1')(index + 1));
        return true;
      }
      if (item.sales_amount == 0) {
        page.alert(t('sales amount cannot be 0, row_index=$1')(index + 1));
        return true;
      }
    });
  }

  function save(post) {
    if (page.valid(scope.form) && checkZeroAmount()) {
      page.confirm(post == 'Y' ? t('post?')() : t('save?')(), () => {
        let data = _.pick(d, ['payment_id', 'payment_number', 'payment_date', 'begin_date', 'end_date', 'division_id', 'job_id',
                              'currency_id', 'bonus_type', 'payment_type', 'cashbox_id', 'bank_account_id', 'note', 'round_value']);

        data.post = post;
        data.operations = [];

        _.each(d.operations, x => {
          let operation = _.pick(x, ['operation_id', 'staff_id', 'period_begin', 'period_end', 'bonus_type', 'job_id', 'sales_amount', 'percentage', 'amount']);
          operation.periods = _.pluck(x.periods, 'period');
          operation.sales_amounts = _.pluck(x.periods, 'sales_amount');
          operation.amounts = _.pluck(x.periods, 'amount');
          data.operations.push(operation);
        });

        page.post(':save', data).then(page.close, page.alert);
      });
    }
  }

  // unpost
  function unpost() {
    page.confirm(t('unpost book?')(), function() {
      page.post(':unpost', _.pick(d, 'payment_id')).then(page.reload, page.alert);
    });
  }

  // calculate
  function calculate() {
    _.each(d.operations, item => {
      let amount = 0;
      _.each(item.periods, period => {
        if (period.amount) {
          period.amount = Big(period.amount).round().toString();
          amount += parseToFloat(period.amount);
        }
      });
      item.amount = amount;
    });

    filterOperations();
  }

  function calcTotalAmount() {
    let operations = page.pgGrid('operations').g.oldSearchValue ? page.pgGrid('operations').g.filtered : d.operations;
    q.total_sales_amount = 0;
    q.total_amount = 0;

    _.each(operations, item => {
      q.total_amount += parseToFloat(item.amount);
      q.total_sales_amount += parseToFloat(item.sales_amount);
    });
  }

  function calculateTotalAmount(operations) {
    return _.chain(operations)
            .groupBy('employee_id')
            .map((x, staff_id) => {
              if (x.length > 1 && x[0].staff_name != null) {
                var operation = { is_total: 'Y', staff_name: x[0].staff_name };
                total = 0;
                operation.sales_amount = _.chain(x).pluck('sales_amount').reduce((total, sales_amount) => +total + (+sales_amount)).value();
                operation.amount = _.chain(x).pluck('amount').reduce((total, amount) => +(total) + (+amount)).value();

                return operation;
              }
            })
            .compact()
            .value();
  }

  function filterOperations(sortOperation = true) {
    if (sortOperation) {
      d.operations = fixOperations(d.operations);
    }

    if (q.show_total == 'Y') {
      q.filter_operations = _.union(d.operations, calculateTotalAmount(d.operations));
      
      if (sortOperation) {
        q.filter_operations = fixOperations(q.filter_operations);
      }
    } else {
      q.filter_operations = d.operations;
    }
  }

  // on check
  function onCheck(checked) {
    q.checked = {};
    q.checked.rows = _.filter(checked.rows(), x => x.is_total != 'Y');
    q.checked.size = q.checked.rows.length;
    q.checked.has = q.checked.size > 0;
  }

  q.divisions = _.mapRows(q.divisions, ['division_id', 'name', 'parent_id']);
  q.round_values = _.mapRows(q.round_values, ['round_value','name']);
  q.payment_types = _.mapRows(q.payment_types, ['kind', 'name']);
  q.bonus_types_dict = _.object(q.bonus_types);
  q.bonus_types = _.mapRows(q.bonus_types, ['type', 'name']);
  q.tConfirmUpdateStaffOperations = t('update staff operations?')();
  q.operations_prepared = false;

  d.round_value = q.round_value;

  if (d.payment_id) {
    d.periods = _.chain(d.periods).mapRows(['operation_id', 'period', 'sales_amount', 'amount']).sortBy(x => x.period.split('.').reverse().join('')).value();
    d.operations = _.chain(d.operations)
                    .mapRows(['operation_id',
                              'staff_id',
                              'staff_name',
                              'staff_number',
                              'robot_name',
                              'division_name',
                              'job_id',
                              'job_name',
                              'bonus_type',
                              'period_begin',
                              'period_end',
                              'sales_amount',
                              'percentage',
                              'amount',
                              'employee_id'])
                    .each(x => x.periods = _.filter(d.periods, { operation_id: x.operation_id }))
                    .value();
  } else {
    d.operations = [];
  }

  filterOperations();

  scope.$watch('d.round_value', function() {
    if (d.round_value) Big.roundModel(d.round_value + q.rmt_floor);
  });

  scope.$watchGroup(["page.pgGrid('operations').g.oldSearchValue"], function() {
    calcTotalAmount();
  });

  scope.d = d;
  scope.q = q;
  scope.p = p;
});
</script>
<div class="b-toolbar">
  <button type="button" class="btn btn-primary" ng-click="save('N')" b-hotkey="save"><t>save</t></button>
  <button type="button" class="btn btn-primary" ng-click="save('Y')"><t>post</t></button>
  <button type="button" class="btn btn-danger" ng-click="unpost()" ng-if="d.posted == 'Y'"><t>unpost</t></button>
  <button type="button" class="btn btn-default" ng-click="page.close()">{{ page.close.title }}</button>
</div>
<div class="b-content">
  <form name="form">
    <div class="card card-custom">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-row">
              <div class="col-sm form-group">
                <label><t>payment number</t><r ng-if="d.payment_id"/></label>
                <input type="text" class="form-control" ng-model="d.payment_number" b-maxlength="50" ng-required="d.payment_id"/>
              </div>
              <div class="col-sm form-group">
                <label><t>payment date</t><r/></label>
                <input type="text" class="form-control" b-date-picker="DD.MM.YYYY" ng-model="d.payment_date" required/>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-row">
              <div class="col-sm form-group">
                <label><t>begin date</t><r/></label>
                <input type="text" class="form-control" b-date-picker="DD.MM.YYYY" ng-model="d.begin_date" required/>
              </div>
              <div class="col-sm form-group">
                <label><t>end date</t><r/></label>
                <input type="text" class="form-control" b-date-picker="DD.MM.YYYY" ng-model="d.end_date" required/>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label><t>payment name</t></label>
              <input type="text" class="form-control" ng-model="d.payment_name" b-maxlength="200"/>
            </div>
            <div class="form-row mb-4">
              <div class="col-sm-12">
                <label><t>division name</t></label>
                <b-tree-select origin="q.divisions" id-key="division_id" model="d.division_id"/>
              </div>
              <div class="col-sm-12">
                <label><t>job name</t></label>
                <b-input name="jobs"
                         model="d.job_name | name"
                         model-key="d.job_id | job_id"
                         on-change="changeJob(query, value)"
                         is-add="fi.add_job"
                         on-add="addJob(value)"
                         is-view="fi.select_job"
                         on-view="selectJob()">
                    {{ row.name }}
                </b-input>
              </div>
            </div>
            <div class="form-group">
              <label><t>note</t></label>
              <textarea rows=2 class="form-control" ng-model="d.note" b-maxlength="300"></textarea>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-row mb-4">
              <div class="col-sm-12">
                <label><t>payment type</t></label><br/>
                <label class="radio" ng-repeat="payment_type in q.payment_types">
                  <input type="radio" name="payment_type" value="{{ payment_type.kind }}" ng-model="d.payment_type"/>
                  <span>{{ payment_type.name }}</span>
                </label>
              </div>
              <div class="col-sm-12">
                <label><t>bonus type name</t></label>
                <b-input name="bonus_types"
                         local-data="q.bonus_types"
                         model="d.bonus_type_name | name"
                         model-key="d.bonus_type | type">
                    {{ row.name }}
                </b-input>
              </div>
            </div>
            <div class="form-row mb-4">
              <div class="col-sm-12">
                <div ng-if="d.payment_type == q.pt_cashbox">
                  <label><t>cashbox</t><r/></label>
                  <b-input name="cashboxes"
                           model="d.cashbox_name | name"
                           model-key="d.cashbox_id | cashbox_id"
                           is-add="fi.add_cashbox"
                           on-add="addCashbox(value)"
                           is-view="fi.select_cashbox"
                           on-view="selectCashbox()"
                           auto-fill
                           required-key>
                    {{ row.name }}
                  </b-input>
                </div>
                <div ng-if="d.payment_type != q.pt_cashbox">
                  <label><t>bank account</t><r/></label>
                  <b-input name="bank_accounts"
                           model="d.bank_account_name | name"
                           model-key="d.bank_account_id | bank_account_id"
                           is-add="fi.add_bank_account"
                           on-add="addBankAccount()"
                           auto-fill="d.payment_type != q.pt_cashbox"
                           required-key>
                    {{ row.name }}
                  </b-input>
                </div>
              </div>
              <div class="col-sm-12">
                <label><t>round value</t></label><br/>
                <div class="form-row">
                  <div class="col-18">
                    <ui-select ng-model="d.round_value">
                      <ui-select-match>{{ $select.selected.name }}</ui-select-match>
                      <ui-select-choices repeat="item.round_value as item in q.round_values | filter: $select.search">
                        {{ item.name }}
                      </ui-select-choices>
                    </ui-select>
                  </div>
                  <div class="col-6" ng-show="d.round_value">
                    <button type="button" class="btn btn-default" ng-click="calculate()"><t>calc</t></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-sm-12">
                <label><t>total sales amount</t></label>
                <span class="form-view">{{ q.total_sales_amount | bNumber }}</span>
              </div>
              <div class="col-sm-12">
                <label><t>total amount</t></label>
                <span class="form-view">{{ q.total_amount | bNumber }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="separator separator-solid my-2"></div>
        <div class="row">
          <div class="col-sm-8 mb-2">
            <button type="button" class="btn btn-default" ng-click="addItem()"><t>add</t></button>
            <button type="button" class="btn btn-default" ng-click="fillData()" ng-disabled="!d.begin_date || !d.end_date"><t>fill</t></button>
            <button type="button" class="btn btn-success" ng-click="selectStaffs()" ng-disabled="!d.begin_date || !d.end_date" ng-if="fi.select_staff"><t>select staffs</t></button>
            <button type="button" class="btn btn-danger" ng-click="removeItems()" ng-show="q.checked.has">
              <t p1="q.checked.size">delete $1</t>
            </button>
          </div>
          <div class="col-sm-6 mb-2">
            <label class="checkbox" style="float: right">
              <input type="checkbox" ng-model="q.show_total" ng-change="filterOperations()" ng-true-value="'Y'" ng-false-value="'N'"/>
              <span><t>show total amount</t></span>
            </label>
          </div>
          <div class="col-sm-10 mb-2">
            <b-pg-controller name="operations"/>
          </div>
        </div>
        <b-pg-grid name="operations" search="staff_number, staff_name, job_name, division_name" sort="staff_name, period_begin" on-check="onCheck(checked)" local-data="q.filter_operations" iterator="item" current-limit="1000">
          <b-pg-row>
            <b-pg-col name="rownum" size="1">
              <div class="text-right">{{ item.rownum }}</div>
            </b-pg-col>
            <b-pg-col name="staff_name" size="4">
              <div class="input-group" ng-if="item.is_total != 'Y'">
                <b-input name="staffs"
                         model="item.staff_name | name"
                         model-key="item.staff_id | staff_id"
                         column="staff_number, staff_kind_name"
                         on-change="changeStaffQuery(query, value)"
                         on-select="setStaff(item, row)"
                         is-view="fi.select_staff"
                         on-view="selectStaff(item)"
                         hint-width="700"
                         readonly="item.staff_id || !d.begin_date || !d.end_date"
                         required-key>
                  <header>
                    <div class="col-sm-6"><t>staff number</t></div>
                    <div class="col-sm-12"><t>staff name</t></div>
                    <div class="col-sm-6"><t>staff kind name</t></div>
                  </header>
                  <content>
                    <div class="col-sm-6">{{ row.staff_number }}</div>
                    <div class="col-sm-12">{{ row.name }}</div>
                    <div class="col-sm-6">{{ row.staff_kind_name }}</div>
                  </content>
                </b-input>
                <div class="input-group-append">
                  <button type="button"
                          class="btn btn-default btn-icon"
                          style="z-index: 1 !important;"
                          ng-if="item.staff_id"
                          b-toggle
                          data-title="{{ q.tConfirmUpdateStaffOperations }}"
                          on-click-yes="updateStaffOpers(item)">
                    <i class="fa fa-redo"/>
                  </button>
                </div>
              </div>
              <span class="form-view" style="border-color: #0b0b0b;" ng-if="item.is_total == 'Y'">{{ item.staff_name }}</span>
            </b-pg-col>
            <b-pg-col name="job_name" size="4"/>
            <b-pg-col name="bonus_type_name" size="4"/>
            </b-pg-col>
            <b-pg-col name="percentage" format="amount" align="left" size="3"/>
            <b-pg-col name="sales_amount" format="amount" align="left" size="3"/>
            <b-pg-col name="amount" format="amount" align="left" size="3"/>
            <b-pg-col name="action" size="1">
              <div class="text-center" ng-if="item.is_total != 'Y'">
                <button type="button"
                        class="btn btn-default btn-icon"
                        style="z-index: 1 !important;"
                        ng-if="item.staff_id"
                        ng-click="showItem(item)">
                  <i class="fa fa-eye"/>
                </button>
              </div>
            </b-pg-col>
          </b-pg-row>
          <b-pg-extra-col name="staff_number"/>
          <b-pg-extra-col name="division_name"/>
          <b-pg-extra-col name="robot_name"/>
          <b-pg-extra-col name="period_begin"/>
          <b-pg-extra-col name="period_end"/>
        </b-pg-grid>
      </div>
    </div>
  </form>

  <form name="modal">
    <div class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" style="max-width: 1300px;">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><t>operation edit/view</t></h5>
            <button type="button" class="close" data-dismiss="modal"><i aria-hidden="true" class="fa fa-times"></i></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-8">
                <div class="form-group">
                  <label><t>staff</t></label>
                  <span class="form-view">{{ p.data.staff_name }}</span>
                </div>
                <div class="form-group">
                  <label><t>staff number</t></label>
                  <span class="form-view">{{ p.data.staff_number }}</span>
                </div>
                <div class="form-group">
                  <label><t>division</t></label>
                  <span class="form-view">{{ p.data.division_name }}</span>
                </div>
                <div class="form-group">
                  <label><t>job</t></label>
                  <span class="form-view">{{ p.data.job_name }}</span>
                </div>
                <div class="form-group">
                  <label><t>bonus type</t></label>
                  <span class="form-view">{{ p.data.bonus_type_name }}</span>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label><t>period begin</t></label>
                      <span class="form-view">{{ p.data.period_begin }}</span>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label><t>period end</t></label>
                      <span class="form-view">{{ p.data.period_end }}</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label><t>sales_amount</t></label>
                      <span class="form-view text-right">{{ p.data.sales_amount | bNumber }}</span>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label><t>amount</t></label>
                      <span class="form-view text-right">{{ p.data.amount | bNumber }}</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label><t>percentage</t></label>
                      <span class="form-view text-right">{{ p.data.percentage | bNumber }}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-16">
                <div class="row" ng-show="p.data.periods.length > 10">
                  <div class="offset-sm-9 col-sm-15 mb-2">
                    <b-pg-controller name="periods"/>
                  </div>
                </div>
                <b-pg-grid name="periods" search="period" sort="period" local-data="p.data.periods" iterator="period" limit="10" min-width="0">
                  <b-pg-row>
                    <b-pg-col name="rownum" size="1">
                      <div class="text-right">{{ period.rownum }}</div>
                    </b-pg-col>
                    <b-pg-col name="period" size="3"/>
                    <b-pg-col name="sales_amount" size="10">
                      <div class="text-right">{{ period.sales_amount | bNumber }}</div>
                    </b-pg-col>
                    <b-pg-col name="amount" size="10">
                      <div class="text-center">
                        <input type="text" class="form-control" b-number precision="14" scale="6" ng-model="period.amount" ng-dblclick="period.editable = 'Y';"
                                ng-readonly="period.editable != 'Y'" ng-blur="period.editable = 'N'; calcItem(p.data);"/>
                      </div>
                    </b-pg-col>
                  </b-pg-row>
                </b-pg-grid>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-primary" ng-click="saveItem()"><t>save</t></button>
            <button type="button" class="btn btn-sm btn-default" ng-click="hideModal()"><t>close</t></button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>