<script biruni>
page.init(function(param, xparam, bStorage, bFrame, AppSession) {
  let date = new Date(),
      month = moment().add(-1, 'month').format('MM.YYYY'),
      storage_key = _.last(bFrame.pages).path + '/' + AppSession.si.user.user_id
      storage = bStorage.json(storage_key);

  var t = page.query('table').param({ month: storage.filter_on == 'Y' ? storage.month : null });

  if (xparam.where) t.where(xparam.where);
  else if (param.where) t.where(param.where);

  var pg = page.grid('table');

  pg.asHtml('posted_html', 'posted, posted_name', function(row) {
    return `<span class="badge badge-${ row.posted == 'Y' ? 'primary' : 'secondary' }">${ row.posted_name }</span>`;
  });
  pg.asHtml('barcode_html', 'barcode', function(row) {
    return `<img src="gen/barcode?text=${ row.barcode }&width=75&height=15&font-size=12"/>`;
  });
  pg.asHtml('month_html', 'month', function(row) {
    return `<span style="text-transform: capitalize;">${ moment(row.month, 'DD.MM.YYYY').format('MMMM YYYY') }</span>`;
  });
  pg.asHtml('period_begin_html', 'period_begin', function(row) {
    return `<span style="text-transform: capitalize;">${ moment(row.period_begin, 'DD.MM.YYYY').format('DD MMM YYYY') }</span>`;
  });
  pg.asHtml('period_end_html', 'period_end', function(row) {
    return `<span style="text-transform: capitalize;">${ moment(row.period_end, 'DD.MM.YYYY').format('DD MMM YYYY') }</span>`;
  });
  pg.asHtml('facts_changed_html', 'facts_changed, facts_changed_name', function(row) {
    return `<span class="badge badge-${ row.facts_changed == 'Y' ? 'warning' : 'secondary' }">${ row.facts_changed_name }</span>`;
  });
});
page.ctrl(function(scope, model, fi, t, $timeout, bStorage, bFrame, AppSession) {
  var q = model || {};

  // sections
  var storage_key = _.last(bFrame.pages).path + '/' + AppSession.si.user.user_id;
  var storage = bStorage.json(storage_key);

  function doAction(doFunc, doTrans, timebook_id) {
    page.confirm(doTrans, function() {
      doFunc({ timebook_id: timebook_id }).then(page.reload, page.alert);
    });
  }

  function prepActionOne(doFunc, doTrans) {
    return function(row) {
      doAction(doFunc, doTrans(row.timebook_number, moment(row.month, 'DD.MM.YYYY').format('MMMM YYYY')), row.timebook_id);
    }
  }

  function prepActionMany(doFunc, doTrans, key) {
    return function() {
      doAction(doFunc, doTrans(q[key].size), _.pluck(q[key].rows, 'timebook_id'));
    }
  }

  function prepChecked(key, checked, filterFunc) {
    q[key] = {},
    q[key].rows = _.filter(checked.rows(), filterFunc);
    q[key].size = q[key].rows.length;
    q[key].has = q[key].size > 0;
  }

  function onCheck(checked) {
    prepChecked('to_post', checked, x => x.posted == 'N');
    prepChecked('to_unpost', checked, x => x.posted == 'Y');
    prepChecked('to_delete', checked, x => x.posted == 'N');
  }

  function closeIfDialog(result) {
    if (page.isDialog()) page.close(result);
  }

  function add() {
    fi.add(null, closeIfDialog);
  }

  function edit(row) {
    fi.edit({ timebook_id: row.timebook_id }, closeIfDialog);
  }

  function view(row) {
    if (fi.isHead) {
      fi.view({ timebook_id: row.timebook_id, filial_id: row.filial_id });
    }  else {
      fi.view({ timebook_id: row.timebook_id });
    }
  }

  function onDblclick(row) {
    page.isDialog() ? page.close(row) : fi.view ? view(row) : fi.edit ? edit(row) : null;
  }

  function openReportSetting(tmp) {
    if (tmp.setting_form) page.openDialog(tmp.setting_form, {
      template_id: tmp.template_id
    });
  }

  function runReport(tmp, row) {
    bFrame.openWindow(tmp.uri, {
      timebook_id: row.timebook_id,
      template_id: tmp.template_id
    });
  }

  // setting
  var modal = page.$content.find('form[name=modal]>.modal');

  function showModal() {
    $timeout(function () {
      modal.modal('show');
    });
  }

  function hideModal() {
    modal.modal('hide');
  }

  function saveSetting() {
    q.time_kind_valid = !_.isEmpty(q.time_kinds) || q.is_all_time_kind == 'Y';

    if (page.valid(scope.modal) && q.time_kind_valid) {
      let data = {
        time_kind_ids: q.is_all_time_kind == 'Y' ? [] : _.pluck(q.time_kinds, 'time_kind_id'),
        by_plan_day: q.by_plan_day,
        by_plan_hour: q.by_plan_hour,
        norm_hour: q.norm_hour,
        norm_day: q.norm_day
      }

      page.post(':save_setting', { settings: JSON.stringify(data) }).then(() => {
        q.time_kinds = q.is_all_time_kind == 'Y' ? [] : q.time_kinds;
        hideModal();
      }, page.alert);
    }
  }

  function whereTimeKind() {
    let time_kind_ids = _.pluck(q.time_kinds, 'time_kind_id');
    return !_.isEmpty(time_kind_ids) ? ['time_kind_id', '<>', time_kind_ids] : null;
  }

  function changeTimeKind(query, value) {
    query.param(null).where(whereTimeKind()).searchValue(value);
  }

  function onDateChange() {
    $timeout(function() {
      q.filter_on ? page.query('table').param({ month: q.month }).fetch() : null;
      bStorage.json(storage_key, { month: q.month, filter_on: q.filter_on ? 'Y' : 'N' });
    });
  }

  function changeFilter() {
    q.filter_on = !q.filter_on;
    bStorage.json(storage_key, { month: q.month, filter_on: q.filter_on ? 'Y' : 'N' });
    q.filter_on ? onDateChange() : page.query('table').param({ }).fetch();
  }

  q.report_actions = _.mapRows(model.reports, ["uri", "template_id", "name", "setting_form"]);
  q.time_kind_valid = true;
  q.is_all_time_kind = _.isEmpty(q.time_kinds) ? 'Y' : 'N';
  q.tAll = t('all')();
  q.month = storage.month || model.month;
  q.filter_on = storage.filter_on == 'Y';

  scope.q = q;
  scope.postOne = prepActionOne(fi.post, t('post timebook $1{timebook_number} on $2{month}?'));
  scope.postMany = prepActionMany(fi.post, t('post $1{timebook_count} timebooks?'), 'to_post');
  scope.unpostOne = prepActionOne(fi.unpost, t('unpost timebook $1{timebook_number} on $2{month}?'));
  scope.unpostMany = prepActionMany(fi.unpost, t('unpost $1{timebook_count} timebooks?'), 'to_unpost');
  scope.deleteOne = prepActionOne(fi.delete, t('delete timebook $1{timebook_number} on $2{month}?'));
  scope.deleteMany = prepActionMany(fi.delete, t('delete $1{timebook_count} timebooks?'), 'to_delete');
});
</script>
<div class="b-toolbar row">
  <div class="col-sm-10">
    <button type="button" class="btn btn-success" ng-click="add()" ng-if="fi.add" b-hotkey="add">{{ fi.add.title }}</button>
    <button type="button" class="btn btn-primary" ng-click="postMany()" ng-if="fi.post" ng-show="q.to_post.has">
      <t p1="q.to_post.size">post $1</t>
    </button>
    <button type="button" class="btn btn-danger" ng-click="unpostMany()" ng-if="fi.unpost" ng-show="q.to_unpost.has">
      <t p1="q.to_unpost.size">unpost $1</t>
    </button>
    <button type="button" class="btn btn-danger" ng-click="deleteMany()" ng-if="fi.delete" ng-show="q.to_delete.has">
      <t p1="q.to_delete.size">delete $1</t>
    </button>
    <button type="button" class="btn btn-default" ng-click="page.close()" ng-hide="page.isFirst()">{{ page.close.title }}</button>
    <button type="button" class="btn btn-default" ng-click="showModal()" ng-if="!fi.isHead"><t>settings</t></button>
  </div>
  <div class="col-sm-3 text-sm-right">
    <label class="pt-2"><t>month</t></label>
  </div>
  <div class="col-sm-3">
    <div class="input-group">
      <input type="text"
             class="form-control"
             style="text-transform: capitalize;"
             b-date-picker="MM.YYYY"
             view-format="MMMM YYYY"
             ng-model="q.month"
             ng-change="onDateChange()"/>
      <div class="input-group-prepend">
        <span class="input-group-text" style="cursor: pointer;" ng-click="changeFilter()"><i class="fa fa-filter" ng-class="{ 'font-yellow-gold': q.filter_on }" aria-hidden="true"></i></span>
      </div>
    </div>
  </div>
  <div class="col-sm-8 b-right">
    <b-grid-controller name="table"/>
  </div>
</div>
<div class="b-content">
  <form name="form">
    <b-grid name="table" required="filial_id, timebook_id, timebook_number, timebook_date, month, posted" on-check="onCheck(checked)" on-dblclick="onDblclick(row)"
            sort="-timebook_date" search="timebook_number, barcode" searchable="month, division_name"
            extra-columns="filial_name, timebook_id, note, created_by_name, created_on, modified_by_name, modified_on">
      <b-row>
        <b-col name="timebook_date" size=5/>
        <b-col name="timebook_number" size=5/>
        <b-col name="month" size=5 as-html="month_html"/>
        <b-col name="division_name" size=5/>
        <b-col name="posted_name" size=3 as-html="posted_html"/>
      </b-row>

      <b-extra-columns>
        <b-col name="barcode" as-html="barcode_html"/>
        <b-col name="facts_changed_name" as-html="facts_changed_html"/>
        <b-col name="period_begin" as-html="period_begin_html"/>
        <b-col name="period_end" as-html="period_end_html"/>
      </b-extra-columns>

      <b-action>
        <button type="button" class="btn btn-default" ng-click="page.close(row)" ng-if="page.isDialog()"><t>select</t></button>
        <button type="button" class="btn btn-default" ng-click="view(row)" ng-if="fi.view">{{ fi.view.title }}</button>
        <button type="button" class="btn btn-default" ng-click="edit(row)" ng-if="fi.edit">{{ fi.edit.title }}</button>
        <button type="button" class="btn btn-default" ng-click="deleteOne(row)" ng-if="fi.delete && row.posted == 'N'">{{ fi.delete.title }}</button>
        <button type="button" class="btn btn-default" ng-click="postOne(row)" ng-if="fi.post && row.posted == 'N'">{{ fi.post.title }}</button>
        <button type="button" class="btn btn-default" ng-click="unpostOne(row)" ng-if="fi.unpost && row.posted == 'Y'">{{ fi.unpost.title }}</button>
        <div class="btn-group" ng-if="q.report_actions.length && row.posted == 'Y'">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><t>print</t></button>
          <ul class="dropdown-menu">
            <li ng-repeat="action in q.report_actions">
              <a href class="dropdown-item py-1">
                <button type="button" class="btn btn-xs btn-icon btn-default" ng-if="action.setting_form" ng-click="openReportSetting(action)">
                  <i class="fa fa-cog"></i>
                </button>&nbsp;
                <span class="my-auto" ng-click="runReport(action, row)">{{ action.name }}</span>
              </a>
            </li>
          </ul>
        </div>
      </b-action>

      <b-filter name="filial_id" decorate-with="filial_name"/>
      <b-filter name="timebook_id" directive="equal" extra/>
      <b-filter name="timebook_number"/>
      <b-filter name="timebook_date"/>
      <b-filter name="month" date-level="month" directive="equal"/>
      <b-filter name="division_id" decorate-with="division_name"/>
      <b-filter name="posted" decorate-with="posted_name"/>
      <b-filter name="period_begin"/>
      <b-filter name="period_end"/>
      <b-filter name="facts_changed" decorate-with="facts_changed_name" extra/>
      <b-filter name="created_by" decorate-with="created_by_name" extra/>
      <b-filter name="created_on" extra/>
      <b-filter name="modified_by" decorate-with="modified_by_name" extra/>
      <b-filter name="modified_on" extra/>
    </b-grid>
  </form>
  <form name="modal">
    <div class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"><t>settings for timebook</t></h4>
            <button type="button" class="close" data-dismiss="modal"><i aria-hidden="true" class="fa fa-times"></i></button>
          </div>
          <div class="modal-body">
            <div class="form-group mb-6">
              <label><t>select time kinds</t><r></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text" style="height: auto;">
                    <label class="checkbox mt-n6 m-0">
                      <input type="checkbox" ng-model="q.is_all_time_kind" ng-true-value="'Y'" ng-false-value="'N'"/><span></span>
                    </label>
                  </div>
                </div>
                <b-input name="time_kinds"
                         multiple
                         model="q.time_kinds"
                         model-key="time_kind_id"
                         label="name"
                         on-change="changeTimeKind(query, value)"
                         ng-if="q.is_all_time_kind != 'Y'"
                         required>
                  {{ row.name }}
                </b-input>
                <input class="form-control" ng-value="q.tAll" ng-show="q.is_all_time_kind == 'Y'" readonly/>
              </div>
              <p class="text-danger" ng-hide="q.time_kinds.length > 0 || q.time_kind_valid || q.is_all_time_kind == 'Y'"><t>choose at least one time kind!</t></p>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <label><t>settings depends on view detail info</t></label>
                <label>&nbsp;</label><br>
                <label class="checkbox">
                  <input type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-model="q.by_plan_day"/>
                  <span><t>by plan (days)</t></span>
                </label>
                <label>&nbsp;</label><br>
                <label class="checkbox">
                  <input type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-model="q.by_plan_hour"/>
                  <span><t>by plan (hours)</t></span>
                </label>
              </div>
              <div class="col-sm-12">
                <label>&nbsp;</label><br>
                <label class="checkbox">
                  <input type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-model="q.norm_hour"/>
                  <span><t>norm hour</t></span>
                </label>
                <label>&nbsp;</label><br>
                <label class="checkbox">
                  <input type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-model="q.norm_day"/>
                  <span><t>norm day</t></span>
                </label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="saveSetting()"><t>save</t></button>
            <button type="button" class="btn btn-default" ng-click="hideModal()"><t>close</t></button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>