<script biruni>
page.init(function(param) {
  var status_class = { D: 'secondary', N: 'primary', W: 'warning', C: 'success' };
  page.grid('table_audit').asHtml('status_html', 'status, status_name', row => {
    return `<span class="badge badge-${status_class[row.status]}">${row.status_name}</span>`;
  });
  page.query(':table_audit').param(param);
});
page.ctrl(function(scope, fi, param, $timeout) {
  var d = param,
      q = { enabledGrids: [] };

  function pageId(tab, prefix) {
    return (prefix || '') + tab + page.id();
  }

  function changeSection(section) {
    if (_.contains(q.enabledGrids, section)) return;
    if (section) {
      page.subpage(section).run(fi[section].uri, { staff_plan_id: d.staff_plan_id });
    }
    q.enabledGrids.push(section);
  }

  function auditDetails(row) {
    if (!fi.audit_details) return;
    fi.audit_details({ staff_plan_id: d.staff_plan_id, context_id: row.t_context_id });
  }

  scope.q = q;
});
</script>
<div class="b-toolbar">
  <button type="button" class="btn btn-default" ng-click="page.close()">{{ page.close.title }}</button>
</div>
<div class="b-content">
  <div class="card card-custom">
    <div class="card-header card-header-tabs-line">
      <div class="card-toolbar align-items-end">
        <ul class="nav nav-tabs nav-tabs-line" role="tablist">
          <li class="nav-item">
            <a data-target="{{ pageId('staff_plan_audit', '#')}}" class="nav-link active" data-toggle="tab" role="tab">
              <t>staff plan</t>
            </a>
          </li>
           <li class="nav-item" ng-if="fi.staff_plan_item_audit">
            <a ng-click="changeSection('staff_plan_item_audit')" data-target="{{ pageId('staff_plan_item_audit', '#')}}" class="nav-link" data-toggle="tab" role="tab">
              <t>staff plan item</t>
            </a>
          </li>
          <li class="nav-item" ng-if="fi.staff_plan_part_audit">
            <a ng-click="changeSection('staff_plan_part_audit')" data-target="{{ pageId('staff_plan_part_audit', '#') }}" class="nav-link" data-toggle="tab" role="tab">
              <t>staff plan parts</t>
            </a>
          </li>
          <li class="nav-item" ng-if="fi.staff_plan_rule_audit">
            <a ng-click="changeSection('staff_plan_rule_audit')" data-target="{{ pageId('staff_plan_rule_audit', '#') }}" class="nav-link" data-toggle="tab" role="tab">
              <t>staff plan rules</t>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="card-body">
      <div class="tab-content">
        <div class="tab-pane active" role="tabpanel" id="{{ pageId('staff_plan_audit') }}">
          <div class="row mb-2">
            <div class="offset-sm-14 col-sm-10">
              <b-grid-controller name="table_audit"/>
            </div>
          </div>
          <b-grid name="table_audit" required="t_context_id, staff_plan_id" on-dblclick="auditDetails(row)"
                  sort="-t_timestamp" search="t_user_name, t_event_name"
                  extra-columns="t_audit_id, t_source_project_name, t_date, t_filial_name, staff_plan_id, rank_name, employment_type_name">
            <b-row>
              <b-col name="t_timestamp" size="3"/>
              <b-col name="t_user_name" size="3"/>
              <b-col name="t_event_name" size="3"/>
              <b-col name="staff_name" size="4"/>
              <b-col name="division_name" size="4"/>
              <b-col name="job_name" size="4"/>
              <b-col name="status_name" size="3" as-html="status_html"/>
            </b-row>

            <b-extra-columns>
              <b-col name="main_plan_amount" format="amount" align="right"/>
              <b-col name="extra_plan_amount" format="amount" align="right"/>
              <b-col name="main_fact_amount" format="amount" align="right"/>
              <b-col name="extra_fact_amount" format="amount" align="right"/>
              <b-col name="main_fact_percent" format="amount" align="right"/>
              <b-col name="extra_fact_percent" format="amount" align="right"/>
              <b-col name="c_main_fact_percent" format="amount" align="right"/>
              <b-col name="c_extra_fact_percent" format="amount" align="right"/>
            </b-extra-columns>

            <b-action>
              <button type="button" class="btn btn-default" ng-click="auditDetails(row)" ng-if="fi.audit_details"><t>details</t></button>
            </b-action>

            <b-filter name="t_date"/>
            <b-filter name="t_user_id" decorate-with="t_user_name"/>
            <b-filter name="t_event" decorate-with="t_event_name"/>
            <b-filter name="t_filial_id" decorate-with="t_filial_name"/>
            <b-filter name="t_source_project_code" decorate-with="t_source_project_name"/>
            <b-filter name="staff_id" decorate-with="staff_name"/>
            <b-filter name="division_id" decorate-with="division_name"/>
            <b-filter name="job_id" decorate-with="job_name"/>
            <b-filter name="status" decorate-with="status_name"/>
            <b-filter name="employment_type" decorate-with="employment_type_name" extra/>
            <b-filter name="main_plan_amount" extra/>
            <b-filter name="extra_plan_amount" extra/>
            <b-filter name="main_fact_amount" extra/>
            <b-filter name="extra_fact_amount" extra/>
            <b-filter name="main_fact_percent" extra/>
            <b-filter name="extra_fact_percent" extra/>
            <b-filter name="c_main_fact_percent" extra/>
            <b-filter name="c_extra_fact_percent" extra/>
          </b-grid>
        </div>
        <div class="tab-pane" role="tabpanel" id="{{ pageId('staff_plan_item_audit') }}">
          <b-subpage name="staff_plan_item_audit"/>
        </div>
        <div class="tab-pane" role="tabpanel" id="{{ pageId('staff_plan_part_audit') }}">
          <b-subpage name="staff_plan_part_audit"/>
        </div>
        <div class="tab-pane" role="tabpanel" id="{{ pageId('staff_plan_rule_audit') }}">
          <b-subpage name="staff_plan_rule_audit"/>
        </div>
      </div>
    </div>
  </div>
</div>