<script biruni>
page.init(function(param, xparam) {
  var t = page.query('table');

  if (xparam.where) t.where(xparam.where);
  else if (param.where) t.where(param.where);
});
page.ctrl(function(scope, fi, t) {
  var q = {};

  function deleteAction(message, labor_function_id) {
    page.confirm(message, function() {
      fi.delete({ labor_function_id: labor_function_id }).then(page.reload, page.alert);
    });
  }

  function deleteOne(row) {
    deleteAction(t('delete labor function $1{labor_function_name}?')(row.name), row.labor_function_id);
  }

  function deleteMany() {
    deleteAction(t('delete $1{labor_function_count} labor function(s)?')(q.checked.size), _.pluck(q.checked.rows(), 'labor_function_id'));
  }

  function closeIfDialog(result) {
    if (page.isDialog()) page.close(result);
  }

  function add() {
    fi.add(null, closeIfDialog);
  }

  function edit(row) {
    fi.edit({ labor_function_id: row.labor_function_id }, closeIfDialog);
  }

  function view(row) {
    fi.view({ labor_function_id: row.labor_function_id });
  }
  
  function onCheck(checked) {
    q.checked = checked;
  }

  function onDblclick(row) {
    page.isDialog() ? page.close(row) : fi.view ? view(row) : fi.edit ? edit(row) : null;
  }

  scope.q = q;
});
</script>
<div class="b-toolbar row">
  <div class="col-sm-14">
    <button type="button" class="btn btn-success" ng-click="add()" ng-if="fi.add" b-hotkey="add">{{ fi.add.title }}</button>
    <button type="button" class="btn btn-danger" ng-click="deleteMany()" ng-if="fi.delete" ng-show="q.checked.has"><t p1="q.checked.size">delete $1</t></button>
    <button type="button" class="btn btn-default" ng-click="page.close()" ng-hide="page.isFirst()">{{ page.close.title }}</button>
  </div>
  <div class="col-sm-10 b-right">
    <b-grid-controller name="table"/>
  </div>
</div>
<div class="b-content"><form name="form">
  <b-grid name="table" required="labor_function_id, name" on-check="onCheck(checked)" on-dblclick="onDblclick(row)"
          sort="code" search="code, name" searchable="labor_function_id" extra-columns="labor_function_id">
    <b-row>
      <b-col name="code" size=3/>
      <b-col name="name" size=10/>
      <b-col name="description" size=10/>
    </b-row>

    <b-action>
      <button type="button" class="btn btn-default" ng-click="page.close(row)" ng-if="page.isDialog()"><t>select</t></button>
      <button type="button" class="btn btn-default" ng-click="view(row)" ng-if="fi.view">{{ fi.view.title }}</button>
      <button type="button" class="btn btn-default" ng-click="edit(row)" ng-if="fi.edit">{{ fi.edit.title }}</button>
      <button type="button" class="btn btn-default" ng-click="deleteOne(row)" ng-if="fi.delete">{{ fi.delete.title }}</button>
    </b-action>

    <b-filter name="labor_function_id" directive="equal" extra/>
    <b-filter name="code"/>
    <b-filter name="name"/>
  </b-grid>
</form></div>