<script biruni>
page.ctrl(function(scope, model, xparam, bHttp) {
  var d = _.isUndefined(model.reason_id) ? _.extend(model, xparam) : model,
      q = {};

  function validateCode() {
    if (d.code) {
      if (d.code == q.code_origin) {
        q.code_is_unique = true;
      } else {
        bHttp.unblockOnce();
        page.post(':code_is_unique', { code: d.code }).then(function(result) {
          q.code_is_unique = result == "Y";
        }, page.alert);
      }
    } else q.code_is_unique = true;
  }

  function validateCoefficient() {
    if (d.coefficient) {
      q.coefficient_is_valid = (1 >= parseFloat(d.coefficient) && parseFloat(d.coefficient) >= 0);
    } else q.coefficient_is_valid = true;
  }

  function save() {
    if (page.valid(scope.form)) {
      page.post(':save', d).then(page.close, page.alert);
    }
  }

  if (d.reason_id) {
    q.code_origin = d.code;
  };

  validateCode();
  validateCoefficient();

  scope.d = d;
  scope.q = q;
});
</script>
<div class="b-toolbar">
  <button type="button" class="btn btn-primary" ng-click="save()" b-hotkey="save"><t>save</t></button>
  <button type="button" class="btn btn-default" ng-click="page.close()">{{ page.close.title }}</button>
</div>
<div class="b-content"><form name="form">
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-custom">
        <div class="card-body">
          <div class="form-group">
            <label><t>name</t><r/></label>
            <input type="text" class="form-control" ng-model="d.name" b-maxlength="100" required/>
          </div>
          <div class="form-group row">
            <div class="col-sm">
              <label><t>coefficient</t><r/></label>
              <input type="text" class="form-control" ng-model="d.coefficient" ng-change="validateCoefficient()"
                     b-validate="{ s: q.coefficient_is_valid || d.coefficient.length == 0 }" b-number required/>
              <span class="text-danger" ng-hide="d.coefficient.length == 0 || q.coefficient_is_valid"><t>coefficient must be between 0 and 1</t></span>
            </div>
            <div class="col-sm">
              <label><t>code</t></label>
              <input type="text" class="form-control" ng-model="d.code" ng-model-options="{ debounce: 500 }"
                     ng-change="validateCode()" b-validate="{ s: q.code_is_unique || d.code.length == 0 }" b-maxlength="50"/>
              <span class="text-danger" ng-hide="d.code.length == 0 || q.code_is_unique"><t>code is already used by another reason</t></span>
            </div>
          </div>
          <div class="form-group">
            <label><t>state</t></label><br/>
            <label class="switch">
              <input type="checkbox" ng-true-value="'A'" ng-false-value="'P'" ng-model="d.state"/>
              <span>
                <t ng-if="d.state == 'A'">active</t>
                <t ng-if="d.state == 'P'">passive</t>
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</form></div>