<script biruni>
  page.ctrl(function(scope, model, fi, xparam, $timeout) {
    model = model || {};

    var d = _.isUndefined(model.wage_id) ? _.extend(model, xparam) : model,
        q = {};

  // job
  function setJob(row) {
    if (!row) return;
    d.job_id = row.job_id;
    d.job_name = row.name;
  }

  function selectJob() {
    fi.select_job(null, setJob, { where: ['state', '=', 'A'] });
  }

  function addJob(value) {
    fi.add_job(null, setJob, { name: value });
  }

  // rank
  function setRank(row) {
    if (!row) return;
    d.rank_id = row.rank_id;
    d.rank_name = row.name;
  }

  function selectRank() {
    fi.select_rank(null, setRank);
  }

  function addRank(value) {
    fi.add_rank(null, setRank, { name: value });
  }

  function save() {
    if (page.valid(scope.form)) {
      var data = _.pick(d, 'wage_id', 'job_id', 'rank_id', 'wage_begin', 'wage_end');
      page.post(':save', data).then(page.close, page.alert);
    }
  }

  scope.q = q;
  scope.d = d;
});
</script>
<div class="b-toolbar">
  <button type="button" class="btn btn-primary" ng-click="save()" b-hotkey="save"><t>save</t></button>
  <button type="button" class="btn btn-default" ng-click="page.close()">{{ page.close.title }}</button>
</div>
<div class="b-content">
  <form name="form">
    <div class="form-row">
      <div class="col-sm-12">
        <div class="card card-custom card-stretch gutter-b">
          <div class="card-body">
            <div class="form-group">
              <label><t>job name</t><r></label>
              <b-input name="jobs"
                       model="d.job_name | name"
                       model-key="d.job_id | job_id"
                       is-add="fi.add_job"
                       on-add="addJob(value)"
                       is-view="fi.select_job"
                       on-view="selectJob()"
                       required-key>
                {{ row.name }}
              </b-input>
            </div>
            <div class="form-group">
              <label><t>rank name</t></label>
              <b-input name="ranks"
                       model="d.rank_name | name"
                       model-key="d.rank_id | rank_id"
                       is-add="fi.add_rank"
                       on-add="addRank(value)"
                       is-view="fi.select_rank"
                       on-view="selectRank()">
                {{ row.name }}
              </b-input>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <label><t>wage begin</t><r></label>
                <input class="form-control" ng-model="d.wage_begin" b-number scale="6" precition="14" required/>
              </div>
              <div class="col-sm-12">
                <label><t>wage end</t></label>
                <input class="form-control" ng-model="d.wage_end" b-number scale="6" precition="14"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>